<main class="main">

    <div class="hold-banner-home">
        <div class="banner-image">
            <div ng-if="!vm.searchEnabled" class="absolute-centered">
                <iframe width="480" height="270"
                        src="http://www.youtube.com/embed/Ikjkwp-Cw0E">
                </iframe>

            </div>
            <!--<img src="/img/capa.jpg" alt=""> -->
        </div>
        <div class="wrap-search-home">
            <div class="hold-input-search" ng-if="vm.searchEnabled">
                <form role="search">
                    <label for="search-home" class="input-search-label">
                        <input id="search-home" name="search-home" type="text" class="input-search"
                               placeholder="Olá {{vm.userName}}, Encontre aqui as roupas que vocês quer"
                               title="Bem vindo a Mooi! Digite agora o que você deseja procurar em nosso site">
                    </label>
                    <button type="submit" class="btn-input-search"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="menu-featured">
        <div class="item">
            <img ng-src="/img/{{vm.accessories}}" alt="Acessórios">
            <a ui-sref="root.produtos({categoria:'acessorios', sexo:'{{vm.userGender.char || 'f'}}' })" class="link-menu">
				<span class="hold-menu-featured-title">
					<h3 class="menu-featured-title">Acessórios</h3>
				</span>
            </a>
        </div>
        <div class="item">
            <img ng-src="/img/{{vm.clothing}}" alt="Roupas">
            <a ui-sref="root.produtos({categoria:'vestuario', sexo:'{{vm.userGender.char || 'f'}}'})" class="link-menu">
				<span class="hold-menu-featured-title">
					<h3 class="menu-featured-title">Roupas</h3>
				</span>
            </a>
        </div>
        <div class="item">
            <img ng-src="/img/{{vm.shoes}}" alt="Calçados">
            <a ui-sref="root.produtos({categoria:'calcados', sexo:'{{vm.userGender.char || 'f'}}'})" class="link-menu">
				<span class="hold-menu-featured-title">
					<h3 class="menu-featured-title">Calçados</h3>
				</span>
            </a>
        </div>

    </div>

</main>