------------------------------------

<button type="button" ng-click="vm.facebookContent()" class="btn btn-default navbar-btn">
    Content
</button>


<button type="button" ng-click="vm.login()" ng-hide="isLoggedIn" class="btn btn-default navbar-btn">
    Login
</button>


<p>fb: {{vm.welcomeMsg}}</p>
<p>{{vm.email}}</p>
<p>{{vm.gender}}</p>
<p>{{vm.name}}</p>
<p>{{vm.id}}</p>
<p>{{vm.link}}</p>
<img ng-src="http://graph.facebook.com/v2.4/{{vm.id}}/picture?type=large" alt="Description" />
<p ng-repeat="item in vm.items">{{item.nome}}</p>
<p>Error: {{vm.error}}</p>

------------------------------------