<main class="main page">
    <div class="wrapper-content">
        <div class="page-header">
            <h1 class="page-title">{{vm.pageTitle}}</h1>
            <!-- TODO: Subtitle -->
            <h2 class="page-subtitle">{{vm.control.subtitleMessage}}</h2>
        </div>
    </div>
    <!-- TODO: Breadcrumbs -->
    <div class="hold-breadcrumbs" itemprop="breadcrumb">
        <ul class="breadcrumbs">
            <li><a ui-sref="root.home" ui-sref-opts="{inherit: false}">Home</a></li>
            <li><a ui-sref="root.produtos({categoria: vm.query.conditions.category})" ui-sref-opts="{inherit: false}">{{vm.query.conditions.category
                | accentCorrection}}</a></li>
            <li ng-if="vm.query.conditions.gender.indexOf('m') !== -1 && vm.query.conditions.gender.indexOf('f') === -1"><a
                    ui-sref="root.produtos({categoria: vm.query.conditions.category, sexo: ['m']})"
                    ui-sref-opts="{inherit: false}">Masculino</a></li>
            <li ng-if="vm.query.conditions.gender.indexOf('f') !== -1 && vm.query.conditions.gender.indexOf('m') === -1"><a
                    ui-sref="root.produtos({categoria: vm.query.conditions.category, sexo: ['f']})"
                    ui-sref-opts="{inherit: false}">Feminino</a></li>
            <li ng-if="vm.query.conditions.infantile === 'true'"><a
                    ui-sref="root.produtos({categoria: vm.query.conditions.category, infantil: true, sexo: vm.query.conditions.gender})"
                    ui-sref-opts="{inherit: false}">Infantil</a></li>
            <li><a ui-sref=".">Resultados</a></li>
        </ul>
    </div>
    <div class="wrapper-content">
        <section id="products" ng-class="{'filtre-hidden': vm.control.filters === false}">
            <div class="search-navigation">
                <div class="filtre-control">
                    <span>Filtros</span>
                    <div class="btn-filtreOn" ng-click="vm.toggleFilterPanel(true)">ON</div>
                    <div class="btn-filtreOff" ng-click="vm.toggleFilterPanel(false)">OFF</div>
                </div>
                <div class="filtre-orderBy">
                    <select name="filtre_orderBy" ng-model="vm.control.order"
                            ng-options="order.name for order in vm.control.possibleOrders"></select>
                </div>
            </div>
            <div class="row">
                <aside class="sidebar products-filtre">
                    <div class="btn-expand-filtre">Filtros</div>
                    <div class="hold-sidebar-content">
                        <div class="search-result">
                            <div class="sidebar-content-title">Produtos Encontrados:</div>
                            <span>{{vm.results}}</span>
                        </div>
                        <div class="sidebar-content">
                            <button class="btn-limpar-filtro" ng-click="vm.resetAllFilters($event)">Limpar Filtros
                            </button>
                        </div>
                        <div class="sidebar-content">
                            <div class="sidebar-content-title">Categoria</div>
                            <div class="field input-hidden"
                                 ng-class="{'checked': vm.query.conditions.category === 'acessorios'}">
                                <a ui-sref="root.produtos({categoria: 'acessorios', sexo: vm.query.conditions.gender})"
                                   ui-sref-opts="{inherit: false}">
                                    <input type="checkbox" name="Acessórios" id="field_acessorios" value="Acessórios">
                                </a>
                                <label for="field_acessorios">Acessórios</label>
                            </div>
                            <div class="field input-hidden"
                                 ng-class="{'checked': vm.query.conditions.category === 'vestuario'}">
                                <a ui-sref="root.produtos({categoria: 'vestuario', sexo: vm.query.conditions.gender})"
                                   ui-sref-opts="{inherit: false}">
                                    <input type="checkbox" name="Roupas" id="field_roupas" value="Roupas">
                                </a>
                                <label for="field_roupas">Roupas</label>
                            </div>
                            <div class="field input-hidden"
                                 ng-class="{'checked': vm.query.conditions.category === 'calcados'}">
                                <a ui-sref="root.produtos({categoria: 'calcados', sexo: vm.query.conditions.gender})"
                                   ui-sref-opts="{inherit: false}">
                                    <input type="checkbox" name="Calçados" id="field_calcados" value="Calçados">
                                </a>
                                <label for="field_calcados">Calçados</label>
                            </div>
                        </div>
                        <div class="sidebar-content">
                            <div class="sidebar-content-title sidebar-content-can-reset">Faixa de Preço</div>
                            <div class="sidebar-content-reset"><i class="fa fa-times"
                                                                  ng-click="vm.resetFilters(['menorPreco', 'maiorPreco'])"></i>
                            </div>
                            <div class="valor-inicial">{{vm.control.sliders.price.values[0] | currency}}</div>
                            <div class="valor-maximo">{{vm.control.sliders.price.values[1] | currency}}</div>
                            <div class="range" ui-slider="vm.control.sliders.price.options"
                                 ng-model="vm.control.sliders.price.values"></div>
                        </div>
                        <div class="sidebar-content">
                            <div class="sidebar-content-title sidebar-content-can-reset">Faixa de Desconto</div>
                            <div class="sidebar-content-reset"><i class="fa fa-times"
                                                                  ng-click="vm.resetFilters(['menorDesconto', 'maiorDesconto'])"></i>
                            </div>
                            <div class="valor-inicial">{{vm.control.sliders.discount.values[0] | percentage}}</div>
                            <div class="valor-maximo">{{vm.control.sliders.discount.values[1] | percentage}}</div>
                            <div class="range" ui-slider="vm.control.sliders.discount.options"
                                 ng-model="vm.control.sliders.discount.values"></div>
                        </div>
                        <div class="sidebar-content">
                            <div class="sidebar-content-title">Gênero</div>
                            <div ng-repeat="gender in vm.control.possibleGenders" class="field input-hidden"
                                 ng-class="{'checked': gender.selected}">
                                <input type="checkbox" ng-model="gender.selected" name="{{gender.name}}"
                                       value="{{gender.value}}" id="field_{{gender.name}}"
                                       ng-change="vm.toggleGender(gender.value, $event)">
                                <label for="field_{{gender.name}}">{{gender.name}}
                                    <div class="icon" ng-show="gender.selected">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </label>
                            </div>
                            <div class="field input-hidden" ng-class="{'checked': vm.control.infantile.selected}">
                                <input type="checkbox" ng-model="vm.control.infantile.selected"
                                       name="{{vm.control.infantile.name}}" value="{{vm.control.infantile.selected}}"
                                       id="field_{{vm.control.infantile.name}}" ng-change="vm.toggleInfantile($event)">
                                <label for="field_{{vm.control.infantile.name}}">{{vm.control.infantile.name}}
                                    <div class="icon" ng-show="vm.control.infantile.selected">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="sidebar-content">
                            <div class="sidebar-content-title">Tipos</div>
                            <div ng-repeat="type in vm.control.possibleTypes" class="field input-hidden" ng-class="{'checked': type.selected}">
                                <input type="checkbox" ng-model="type.selected" name="{{type.value}}" id="field_{{type.value}}" value="{{type.value}}" ng-change="vm.toggleType($event)">
                                <label for="field_{{type.value}}">{{type.value}}
                                    <div class="icon" ng-show="type.selected">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="sidebar-content">
                            <div class="sidebar-content-title">Tamanhos</div>
                            <div ng-repeat="size in vm.control.possibleSizes" class="field input-hidden field-sizes" ng-class="{'checked': size.selected}">
                                <input type="checkbox" ng-model="size.selected" name="{{size.value}}" id="field_{{size.value}}" value="{{size.value}}" ng-change="vm.toggleSize($event)">
                                <label for="field_{{size.value}}">{{size.value}}
                                    <div class="icon" ng-show="size.selected">
                                        <i class="fa fa-times"></i>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="sidebar-content">
                            <div class="sidebar-content-title sidebar-content-can-reset">Cores</div>
                            <div class="sidebar-content-reset">
                                <i class="fa fa-times" ng-click="vm.resetFilters(['cores'])"></i>
                            </div>
                            <div class="field-small" ng-repeat="color in vm.control.possibleColors">
                                <input type="checkbox" ng-model="color.selected" name="cor" class="input_cor"
                                       id="field_cor_{{color.value}}" value="{{color.value}}"
                                       ng-change="vm.toggleColor($event)">
                                <label for="field_cor_{{color.value}}" class="field_cor" ng-class="color.value"
                                       title="{{color.name}}"></label>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="product-list" data-images-loaded>
                    <ul class="results">
                        <div ng-if="vm.items.length === 0" class="text-center">Nenhum item encontrado :(</div>
                        <li dir-paginate="item in vm.items | itemsPerPage: vm.query.options.perPage"
                            class="product-thumb" data-total-items="vm.results"
                            data-current-page="vm.query.options.page" ng-cloak mooi-on-finish-render="productsRendered">
                            <!--<li class="product-thumb" ng-repeat="item in vm.items track by item.id_externo" mooi-on-finish-render="productsRendered" ng-cloak>-->
                            <span class="product-img">
                                <!--<img title="Produto" alt="Produto" class="main-product-image"
                                     ng-src="http://s3-sa-east-1.amazonaws.com/mooi-items/images/produtos/{{item.loja}}/{{item.images[0]}}">-->
                                <img title="Produto" alt="Produto" class="main-product-image"
                                     ng-src="{{vm.getImageURL(item, 0)}}">
                                <span class="stamps-holder" ng-if="item.preco_desconto > 0">
                                    <span class="base-stamp"
                                          ng-class="{'stamp-desconto-grande': item.preco_desconto > 40, 'stamp-desconto-medio': item.preco_desconto > 20, 'stamp-desconto-pequeno': item.preco_desconto > 0}">
                                        <span class="desconto">{{item.preco_desconto | percentage}}</span>
                                    </span>
                                </span>
                            </span>
                            <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion()">
                                <span class="thumb-cover"></span></a>
                            <span class="product-info-holder">
                                <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion()">
                                    <span class="price-holder" itemprop="offers" itemscope=""
                                      itemtype="http://schema.org/Offer">
                                    <del class="old-price"
                                         ng-show="item.preco_antigo_vista && item.preco_antigo_vista > item.preco_vista">
                                        {{item.preco_antigo_vista | currency}}
                                    </del>
                                    <strong class="new-price" itemprop="price">{{item.preco_vista | currency}}</strong>
                                </span>
                                </a>
                                <span class="info-extra">
                                    <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion()">
                                        <span class="product-color">
                                        <p>Cores:</p>
                                        <ul class="list">
                                            <li ng-repeat="color in item.cores_mooi track by $index">
                                                <i class="fa fa-square" ng-class="color"></i>
                                            </li>
                                        </ul>
                                    </span>
                                        <span class="product-size">
                                        <p>Tamanhos:</p>
                                        <ul class="list">
                                            <li ng-repeat="tamanho in item.tamanhos_mooi track by $index">{{tamanho}}
                                            </li>
                                        </ul>
                                    </span>
                                    </a>
                                    <span class="actions-holder">
                                        <a ui-sref="root.item({id:item.id_externo, loja:item.loja})" target="_blank"
                                                ng-click="vm.setItemViewed(item); vm.interest(item)">
                                            <span class="btn-more">Ver Mais</span>
                                        </a>
                                        <span class="sentiment-actions">
                                            <a href="" ng-click="vm.likeItem(item)"><span class="btn-like">
                                                <img ng-src="/img/icon-like{{item.liked && '-checked' || ''}}.png" alt="Gostei do Produto">
                                            </span></a>
                                            <a href="" ng-click="vm.dislikeItem(item)"><span class="btn-dislike">
                                                <img ng-src="/img/icon-dislike{{item.disliked && '-checked' || ''}}.png" alt="Não Gostei do Produto">
                                            </span></a>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </li>
                    </ul>
                    <dir-pagination-controls on-page-change="vm.changePage(newPageNumber)"
                                             boundary-links="true"></dir-pagination-controls>
                </div>
            </div>
        </section>
    </div>
</main>
