/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/* ==========================================================================
   Cores
   ========================================================================== */
/* ==========================================================================
   Tipografia
   ========================================================================== */
/* ==========================================================================
   Medidas
   ========================================================================== */
/* ==========================================================================
   Tipografia
   ========================================================================== */
html,
button,
input,
select,
textarea {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
p,
li,
a {
  text-align: left;
}
h1,
h2,
h3 {
  color: #000;
  text-transform: uppercase;
}
h4,
p,
li,
a {
  font-weight: 400;
  color: #505050;
}
p,
a,
li {
  font-size: 12px;
  color: #000;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}
p,
li {
  margin: 15px 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.small {
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
body,
html,
* {
  border: 0;
}
body {
  background: #FFF;
  margin: 0;
  padding: 0;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  margin: 20px 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
img {
  width: 100%;
}
ul {
  padding: 0;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
li {
  list-style: none;
}
.access {
  display: block;
  height: 0;
  font-size: 10px;
}
.main-container {
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;
}
.wrapper-content {
  width: 90%;
  margin: 0 auto;
}
.page {
  margin: 95px 0;
}
@media only screen and (min-width: 1300px) {
  .wrapper-content {
    display: inline;
    float: left;
    width: 83.4375%;
    margin: 0 2.03125%;
    float: none;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1500px) {
  .wrapper-content {
    display: inline;
    float: left;
    width: 70.9375%;
    margin: 0 2.03125%;
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.fundo-branco {
  background: #ffffff;
}
.fundo-amarelo {
  background: #ffff00;
}
.fundo-azul {
  background: #0000ff;
}
.fundo-cinza {
  background: #808080;
}
.fundo-bege {
  background: #ddbc93;
}
.fundo-laranja {
  background: #ee9000;
}
.fundo-verde {
  background: #008000;
}
.fundo-marrom {
  background: #4a0c0c;
}
.fundo-rosa {
  background: #ff9cc2;
}
.fundo-vermelho {
  background: #ff0000;
}
.fundo-roxo {
  background: #800080;
}
.fundo-preto {
  background: #000000;
}
/* --- MIXINGS ------------------------------------------------------------------------------*/
/* MIXINGS DO PROJETO */
/*PADRAO*/
/*CLASSES CSS*/
.left {
  float: left;
}
.right {
  float: right;
}
.width100 {
  width: 100%;
}
.height100 {
  height: 100%;
}
.block {
  display: block;
}
.v-align-wrapper {
  display: table;
}
.v-align {
  display: table-cell;
  vertical-align: middle;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.margin-top {
  margin-top: 30px;
}
.inline-list li {
  display: inline-block;
}
.mouse-over {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
}
.mouse-over:not(.faded):hover {
  opacity: .75;
}
.mouse-over:not(.faded):active {
  opacity: .5;
}
.push-header {
  height: 86px;
}
.faded {
  opacity: .25;
}
.pre-tag {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hidden-from-view {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.grid100 {
  width: 100%;
}
.grid90 {
  width: 90%;
}
.grid80 {
  width: 80%;
}
.grid75 {
  width: 75%;
}
.grid70 {
  width: 70%;
}
.grid60 {
  width: 60%;
}
.grid50 {
  width: 50%;
}
.grid40 {
  width: 40%;
}
.grid33 {
  width: 33.33%;
}
.grid32 {
  width: 32%;
}
.grid30 {
  width: 30%;
}
.grid25 {
  width: 25%;
}
.grid20 {
  width: 20%;
}
.grid10 {
  width: 10%;
}
.input-placeholder:before {
  content: "";
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  -moz-transition: opacity 0.4s ease;
  -ms-transition: opacity 0.4s ease;
  -o-transition: opacity 0.4s ease;
}
.input-placeholder:empty:before {
  content: attr(data-placeholder);
  opacity: 1;
}
.last {
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0!important;
  margin-left: 0 !important;
}
.bold {
  font-weight: bold;
  width: 100% !important;
}
.none {
  display: none;
}
.center {
  text-align: center;
}
.link {
  color: #fecf44;
}
.btn {
  background: #fecf44;
  color: #143264;
  font-size: 21px;
  padding: 10px 20px;
  font-weight: bold;
  float: left;
}
.border-left {
  padding-left: 50px;
  margin-left: 30px;
  border-left: 1px solid #ccc;
}
.row {
  width: 100%;
  float: left;
  margin: 3% 0;
  position: relative;
}
/* Initializr */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clear {
  clear: both;
}
.clear-after:after {
  content: "";
  display: block;
  clear: both;
}
.clear-before:before {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
button {
  background: none;
  border: 0;
  font-size: 12px;
}
::-webkit-input-placeholder {
  color: #000;
  font: 12px 'Lato', sans-serif;
  line-height: 32px;
  text-transform: uppercase;
}
:-moz-placeholder {
  color: #000;
  font: 12px 'Lato', sans-serif;
  line-height: 32px;
  text-transform: uppercase;
}
::-moz-placeholder {
  color: #000;
  font: 12px 'Lato', sans-serif;
  line-height: 32px;
  text-transform: uppercase;
}
:-ms-input-placeholder {
  color: #000;
  font: 12px 'Lato', sans-serif;
  line-height: 32px;
  text-transform: uppercase;
}
input,
select,
textarea {
  border: 1px solid #969696;
  color: #000;
  padding: 5px 10px;
}
label {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  height: 30px;
  line-height: 30px;
}
select {
  background: none;
  border: 2px solid #000;
}
.btn-input-search {
  float: left;
  padding: 10px 15px;
  background: #00ffff;
  color: #000;
  font-size: 14px;
  height: 40px;
}
.btn-default,
.btn-highlight {
  text-align: center;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}
.btn-default {
  border: 1px solid #000;
  min-width: 150px;
}
.btn-default:hover {
  background: #000;
  color: #fff;
}
.btn-default:hover a {
  color: #fff;
}
.btn-highlight {
  background: #00ffff;
}
.btn-highlight:hover {
  background: #00d2d2;
}
.wrap-form {
  padding-top: 50px;
}
.wrap-form .form-row {
  clear: both;
  width: 100%;
  text-align: center;
  padding: 15px;
  box-sizing: border-box;
}
.wrap-form .form-row label {
  display: inline-block;
  width: 200px;
  text-align: left;
}
.wrap-form .form-row.form-send {
  margin-top: 50px;
}
.wrap-form .form-input {
  width: 240px;
  margin: 0 auto;
  position: relative;
  height: 28px;
  line-height: 28px;
  display: inline-block;
}
.wrap-form .form-select {
  width: 262px;
  margin: 0 auto;
  position: relative;
  height: 40px;
  line-height: 40px;
  border: 1px solid #969696;
  color: #000;
  font: 12px 'Lato', sans-serif;
  line-height: 32px;
  text-transform: uppercase;
}
.page-header {
  width: 100%;
  float: left;
  margin: 50px 0;
  overflow: hidden;
  position: relative;
}
.page-header .page-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 38px;
  text-align: center;
  margin: 0;
}
.page-header .page-subtitle {
  color: #9E9E9E;
  font-size: 16px;
  text-align: center;
  margin: 0;
}
.hold-breadcrumbs {
  background: #f1f1f1;
  width: 100%;
  float: left;
  padding: 5px 0;
}
.hold-breadcrumbs .breadcrumbs {
  /*margin: 0 auto; */
  text-align: center;
  padding: 0;
}
.hold-breadcrumbs .breadcrumbs li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  /*float: left;*/
}
.hold-breadcrumbs .breadcrumbs li:before {
  content: '>';
  display: inline;
  margin: 0 10px;
}
.hold-breadcrumbs .breadcrumbs li:first-child:before {
  content: '';
}
.page-product .hold-breadcrumbs {
  margin: 20px 0;
}
.sidebar {
  float: left;
  width: 100%;
  margin: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.btn-expand-filtre {
  /*width: 100%;*/
  width: 95%;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background: #f1f1f1;
  cursor: pointer;
  margin-bottom: 20px;
}
.hold-sidebar-content {
  height: 0;
  display: none;
}
.sidebar-content {
  width: 100%;
  float: left;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
.sidebar-content:last-child {
  border: 0;
}
.input_cor {
  float: left;
}
.field_cor {
  width: 38px;
  height: 38px;
  float: left;
  margin-left: 5px;
  border: 1px solid #f1f1f1;
  border-radius: 25%;
  cursor: pointer;
}
.field_cor.branco {
  background-color: #ffffff;
}
.field_cor.amarelo {
  background-color: #ffff00;
}
.field_cor.azul {
  background-color: #0000ff;
}
.field_cor.cinza {
  background-color: #808080;
}
.field_cor.bege {
  background-color: #ddbc93;
}
.field_cor.laranja {
  background-color: #ee9000;
}
.field_cor.verde {
  background-color: #008000;
}
.field_cor.marrom {
  background-color: #4a0c0c;
}
.field_cor.rosa {
  background-color: #ff9cc2;
}
.field_cor.vermelho {
  background-color: #ff0000;
}
.field_cor.roxo {
  background-color: #800080;
}
.field_cor.preto {
  background-color: #000000;
}
.sidebar-content-title {
  float: left;
  width: 100%;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 10px;
}
.sidebar-content-title.sidebar-content-can-reset {
  width: 80%;
}
.sidebar-content-reset {
  float: right;
  width: 20%;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding-bottom: 10px;
  text-align: right;
}
.sidebar-content-reset i:hover {
  cursor: pointer;
}
.field {
  float: left;
  width: 100%;
  margin-bottom: 1px;
  position: relative;
}
.field:hover {
  background: #eee;
}
.field.checked {
  background: #000;
}
.field.checked label {
  color: #fff;
}
.field.checked .icon {
  cursor: pointer;
}
.field.checked .icon label {
  color: #fff;
}
.field input[type=radio],
.field input[type=checkbox] {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
}
.field label {
  cursor: pointer;
  width: 100%;
  float: left;
  margin-left: 10px;
  padding: 10px 0;
}
.field .icon {
  position: absolute;
  right: 5px;
  top: 7px;
}
.field .icon i {
  color: #fff;
}
.field-sizes {
  width: 30%;
  margin: 1%;
  text-align: center;
  border: 1px solid #ccc;
}
.field-sizes label {
  margin: 0;
}
.field-small {
  float: left;
  padding: 10px 0;
  margin-right: 20px;
}
.field-small:last-child {
  margin-right: 0;
}
.btn-limpar-filtro {
  width: 100%;
  float: left;
  background: #f1f1f1;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.btn-limpar-filtro:hover {
  background: #E2E2E2;
}
.valor-inicial {
  float: left;
  font-weight: bold;
}
.valor-maximo {
  float: right;
  font-weight: bold;
}
.valor-maximo input {
  border: 0;
  float: right;
  width: 100px;
  line-height: 24px;
  height: 24px;
  text-align: right;
  padding: 0;
  font-weight: bold;
}
.range {
  float: left;
  width: 100%;
  margin-top: 10px;
  background: #000;
  height: 5px;
}
.range .ui-widget-header {
  background: #000;
  height: 5px;
}
.range .ui-state-default,
.range .ui-widget-content .ui-state-default,
.range .ui-widget-header .ui-state-default {
  background: #00ffff;
  border: 0;
  height: 15px;
  width: 15px;
  border-radius: 0;
}
.sidebar-opened .hold-sidebar-content {
  height: auto;
  display: block;
}
@media only screen and (min-width: 1024px) {
  .sidebar {
    display: inline;
    float: left;
    width: 20.9375%;
    margin: 0 2.03125%;
    margin: 0 2% 0 0;
    display: block;
  }
  .filtre-hidden .sidebar {
    width: 0;
    opacity: 0;
    margin: 0;
  }
  .btn-expand-filtre {
    display: none;
  }
  .hold-sidebar-content {
    height: auto;
    display: block;
  }
}
i.branco {
  color: #ffffff;
}
i.amarelo {
  color: #ffff00;
}
i.azul {
  color: #0000ff;
}
i.cinza {
  color: #808080;
}
i.bege {
  color: #ddbc93;
}
i.laranja {
  color: #ee9000;
}
i.verde {
  color: #008000;
}
i.marrom {
  color: #4a0c0c;
}
i.rosa {
  color: #ff9cc2;
}
i.vermelho {
  color: #ff0000;
}
i.roxo {
  color: #800080;
}
i.preto {
  color: #000000;
}
.product-list {
  float: left;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.product-thumb {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  min-height: 150px;
}
.product-thumb .product-img {
  float: left;
  width: 100%;
  height: 100%;
}
.product-thumb .stamps-holder {
  position: absolute;
  right: 0;
  top: 0;
}
.product-thumb .base-stamp {
  width: 0;
  height: 0;
  float: right;
  border-left: 60px solid transparent;
}
.product-thumb .base-stamp .desconto {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  font-size: 14px;
}
.product-thumb .stamp-desconto-grande {
  border-top: 60px solid #db37a2;
}
.product-thumb .stamp-desconto-medio {
  border-top: 60px solid #d94eab;
}
.product-thumb .stamp-desconto-pequeno {
  border-top: 60px solid #d964b4;
}
.product-thumb .thumb-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: -webkit-linear-gradient(top, transparent, #000);
  background: -moz-linear-gradient(top, transparent, #000);
  background: -ms-linear-gradient(top, transparent, #000);
  background: -o-linear-gradient(top, transparent, #000);
  opacity: .7;
}
.product-thumb .product-info-holder {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding-bottom: 15%;
}
.product-thumb .product-info-holder .price-holder {
  width: 100%;
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
}
.product-thumb .product-info-holder .price-holder .old-price {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}
.product-thumb .product-info-holder .price-holder .new-price {
  color: #fff;
  font-size: 34px;
  float: left;
  width: 100%;
}
.product-thumb .product-info-holder .info-extra {
  width: 100%;
  float: left;
  margin-top: 10px;
  opacity: 0;
  display: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.product-thumb .product-info-holder .info-extra .product-color,
.product-thumb .product-info-holder .info-extra .product-size {
  padding: 0 20px;
}
.product-thumb .product-info-holder .info-extra .product-color p,
.product-thumb .product-info-holder .info-extra .product-size p {
  color: #fff;
  float: left;
  text-transform: uppercase;
  margin: 0;
}
.product-thumb .product-info-holder .info-extra .product-color .list,
.product-thumb .product-info-holder .info-extra .product-size .list {
  float: left;
}
.product-thumb .product-info-holder .info-extra .product-color .list li,
.product-thumb .product-info-holder .info-extra .product-size .list li {
  float: left;
  margin: 0 0 0 5px;
  text-transform: uppercase;
}
.product-thumb .product-info-holder .info-extra .product-color {
  float: left;
  margin-right: 10px;
}
.product-thumb .product-info-holder .info-extra .product-size {
  float: left;
}
.product-thumb .product-info-holder .info-extra .product-size li {
  color: #fff;
}
.product-thumb .product-info-holder .info-extra .actions-holder {
  float: left;
  width: 100%;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35px;
}
.product-thumb .product-info-holder .info-extra .actions-holder .btn-more {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  float: left;
  line-height: 35px;
  cursor: pointer;
}
.product-thumb .product-info-holder .info-extra .actions-holder .sentiment-actions {
  float: right;
  border-left: 1px solid #333;
  height: 100%;
  padding: 0;
}
.product-thumb .product-info-holder .info-extra .actions-holder .sentiment-actions .btn-like,
.product-thumb .product-info-holder .info-extra .actions-holder .sentiment-actions .btn-dislike {
  width: 18px;
  float: left;
  padding: 0 10px;
  cursor: pointer;
  height: 100%;
  line-height: 2rem;
}
.product-thumb .product-info-holder .info-extra .actions-holder .sentiment-actions .btn-like:hover,
.product-thumb .product-info-holder .info-extra .actions-holder .sentiment-actions .btn-dislike:hover {
  background: #222;
}
.product-thumb.is-hovering .info-extra {
  display: block;
  opacity: 1;
}
.product-list-extra {
  width: 100%;
  float: left;
}
.product-list-extra .product-thumb {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 2%;
}
.product-list-extra .product-thumb .product-info-holder {
  padding: 10px;
  width: 94%;
}
.product-list-extra .product-thumb .product-info-holder .price-holder .old-price {
  font-size: 14px;
}
.product-list-extra .product-thumb .product-info-holder .price-holder .new-price {
  font-size: 21px;
}
@media only screen and (min-width: 768px) {
  .product-thumb {
    width: 48%;
    float: left;
    margin: 0 2% 2% 0;
  }
  .product-thumb:last-child {
    margin-right: 0;
  }
  .product-list-extra .product-thumb {
    width: 31%;
    float: left;
    margin: 0 2% 2% 0;
  }
}
@media only screen and (min-width: 930px) {
  .product-thumb {
    width: 31.3%;
  }
  .product-list-extra .product-thumb {
    width: 23%;
  }
  .product-list-extra .product-thumb .product-info-holder {
    width: 94%;
  }
}
@media only screen and (min-width: 1024px) {
  .product-list {
    width: 76.9375%;
  }
  .filtre-hidden .product-list {
    width: 100%;
  }
}
@media only screen and (min-width: 1300px) {
  .product-thumb {
    width: 23%;
  }
}
@media only screen and (min-width: 1390px) {
  .product-list-extra .product-thumb {
    width: 14.6%;
  }
  .product-list-extra .product-thumb .product-info-holder {
    width: 90%;
  }
  .product-list-extra .product-thumb .product-info-holder .info-extra .actions-holder .btn-more {
    width: 55%;
  }
}
.search-navigation {
  width: 98%;
  float: left;
  margin: 30px 0 30px 2.03125%;
}
.search-navigation .filtre-control {
  float: left;
  display: none;
}
.search-navigation .filtre-orderBy {
  float: right;
}
.search-navigation .btn-filtreOn,
.search-navigation .btn-filtreOff,
.search-navigation span {
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 20px;
  cursor: pointer;
}
.search-navigation .btn-filtreOn:hover,
.search-navigation .btn-filtreOff:hover {
  border-bottom: 2px solid #00ffff;
}
.search-navigation .btn-filtreOn {
  color: #00ffff;
}
.filtre-hidden .btn-filtreOn {
  color: #000;
}
.filtre-hidden .btn-filtreOff {
  color: #00ffff;
}
@media only screen and (min-width: 1024px) {
  .search-navigation {
    margin: 30px 0;
  }
  .search-navigation .filtre-control {
    display: block;
  }
}
.product-photo-wrapper {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 30px;
}
.product-photo-wrapper .product-img {
  width: 80%;
  float: left;
}
.product-photo-wrapper .photo-gallery-navigation {
  width: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.product-photo-wrapper .photo-gallery-navigation .photo-gallery-list li {
  cursor: pointer;
  margin: 10px 0;
}
.product-photo-wrapper .photo-gallery-navigation .photo-gallery-list li:last-child {
  margin: 0;
}
.product-photo-wrapper .photo-gallery-navigation .photo-gallery-list li .product-img-small img {
  width: 100%;
  height: auto;
  max-height: 60px;
  max-width: 60px;
  opacity: 0.8;
}
.product-photo-wrapper .photo-gallery-navigation .photo-gallery-list li .product-img-small img:hover {
  opacity: 1;
}
@media only screen and (min-width: 580px) {
  .product-photo-wrapper .photo-gallery-navigation {
    width: 17%;
  }
}
@media only screen and (min-width: 700px) {
  .product-photo-wrapper {
    width: 46%;
  }
  .product-photo-wrapper .photo-gallery-navigation {
    width: 15%;
  }
}
@media only screen and (min-width: 1024px) {
  .product-photo-wrapper {
    display: inline;
    float: left;
    width: 39.6875%;
    margin: 0 2.03125%;
    position: relative;
  }
  .product-photo-wrapper .product-img {
    width: 83%;
    float: left;
    min-height: 200px;
  }
}
.toggle {
  background: #f1f1f1;
  padding: 10px 20px;
}
.toggle .hold-toggle-title {
  float: left;
  width: 100%;
}
.toggle .hold-toggle-title .toggle-title {
  width: auto;
  float: right;
  text-align: right;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
.toggle .hold-toggle-title .toggle-title span {
  float: left;
}
.toggle .hold-toggle-title .toggle-title .icon {
  margin-right: 10px;
}
.toggle .list {
  float: right;
  margin-top: 10px;
}
.toggle li {
  text-align: right;
  margin: 0;
}
.modal-loading {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url('../img/loader.gif') 50% 50% no-repeat;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
  overflow: hidden;
}
/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loading {
  display: block;
}
.text-center {
  text-align: center;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #000000;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #000;
  border-color: #000;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #eee;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.hold-modal-login {
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 1000%;
  position: absolute;
  z-index: 9999;
  display: none;
}
.hold-modal-login .modal-login {
  background: #fff;
  width: 300px;
  padding: 20px;
  margin: 25vh auto;
  position: relative;
}
.hold-modal-login .modal-login .modal-title {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}
.hold-modal-login .modal-login .btn-login-facebook {
  background: #3650b5;
  color: #fff;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  font-size: 12px;
}
.hold-modal-login .modal-login .field-login {
  width: 95%;
  float: left;
  margin-bottom: 10px;
}
.hold-modal-login .modal-login .small {
  width: 100%;
  margin: 10px 0;
  display: block;
}
.hold-modal-login .modal-login .btn-login,
.hold-modal-login .modal-login .btn-default {
  width: 200px;
  margin: 0 auto;
  display: block;
}
.hold-modal-login .modal-login .btn-close-modal-login {
  position: absolute;
  top: -50px;
  display: block;
  width: 85%;
  cursor: pointer;
}
.hold-modal-login .modal-login .btn-close-modal-login div {
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0 auto;
}
.nav-logged {
  float: left;
  width: 250px;
  background: #fff;
  height: 100vh;
}
.nav-logged .menu-title {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  font-size: 32px;
  padding: 20px 30px 10px 30px;
  margin: 0;
  color: #000;
}
.btn-close-nav {
  width: 30px;
  height: 30px;
  margin: 20px auto;
}
.main-header {
  width: 100%;
  float: left;
}
.main-header_wrapper {
  width: 95%;
  margin: 0 auto;
}
.main-header ul,
.main-header li,
.main-header a {
  margin-top: 0;
  margin-bottom: 0;
}
.main-header .nav-pull {
  float: left;
  color: #fff;
  cursor: pointer;
}
.main-header .nav-pull i {
  font-size: 24px;
  margin-top: 10px;
}
.main-header .header-main-menu {
  width: 100%;
  float: left;
  background: #000;
  position: relative;
}
.main-header .header-main-menu_holder-account {
  float: right;
}
.main-header .header-main-menu_holder-account li {
  float: left;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.main-header .header-main-menu_holder-account li:first-child {
  margin-right: 20px;
  border-right: 1px solid #fff;
  padding-right: 20px;
}
.main-header .header-main-menu_holder-account li .link-menu-above {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.main-header .hold-my-account-submenu {
  position: absolute;
  width: 100%;
  top: 40px;
  left: 0;
  background: #fff;
  z-index: 999;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.main-header .hold-my-account-submenu.is-active {
  height: auto;
  padding: 20px 0;
}
.main-header .hold-my-account-submenu .my-account-submenu {
  float: right;
}
.main-header .hold-my-account-submenu .my-account-submenu li {
  float: left;
  margin: 0;
}
.main-header .hold-my-account-submenu .my-account-submenu li:last-child {
  margin-right: 0;
}
.main-header .hold-my-account-submenu .my-account-submenu li a {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
}
.main-header .hold-my-account-submenu .my-account-submenu li a:hover {
  border-bottom: 5px solid #000;
}
.main-header .navigation {
  width: 100%;
  float: left;
  padding: 10px 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.main-header .navigation .logo {
  width: 150px;
  margin: 0 auto;
}
.main-header .navigation .hold-nav {
  width: 100%;
  float: left;
}
.main-header .navigation .main-nav {
  margin: 0 auto;
  width: 310px;
}
.main-header .navigation .main-nav .main-nav-item {
  float: left;
  margin-right: 40px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  line-height: 40px;
  cursor: pointer;
}
.main-header .navigation .main-nav .main-nav-item:last-child {
  margin-right: 0;
}
.main-header .navigation .main-nav .main-nav-item .main-nav-submenu {
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  z-index: 999;
}
.main-header .navigation .main-nav .main-nav-item .main-nav-submenu .hold-main-nav-submenu {
  width: 90%;
  margin: 50px auto;
}
.main-header .navigation .main-nav .main-nav-item .main-nav-submenu .hold-main-nav-submenu .main-nav-submenu-list {
  display: inline;
  float: left;
  width: 70.9375%;
  margin: 0 2.03125%;
}
.main-header .navigation .main-nav .main-nav-item .main-nav-submenu .hold-main-nav-submenu .main-nav-submenu-list .submenu-title {
  width: 100%;
  border-bottom: 3px solid #e1e1e1;
}
.main-header .navigation .wrap-search {
  margin: 0 auto;
  position: relative;
  width: 310px;
}
.main-header .navigation .wrap-search .hold-input-search {
  float: left;
  overflow: hidden;
  width: 100%;
}
.main-header .navigation .wrap-search .hold-input-search .input-search-label {
  float: left;
  width: 80%;
}
.main-header .navigation .wrap-search .hold-input-search .input-search-label .input-search {
  height: 25px;
  width: 90%;
}
.main-header .navigation .wrap-search .hold-input-search .input-search-label .btn-close-input-search {
  display: none;
}
.main-header .navigation.submenu-is-active {
  background-color: #fff;
}
.main-header .navigation.submenu-is-active .main-nav .main-nav-item .main-nav-submenu {
  height: auto;
  padding-bottom: 50px;
}
@media only screen and (min-width: 560px) {
  .main-header {
    width: 100%;
  }
  .main-header_wrapper {
    width: 90%;
  }
  .main-header .main-header .hold-my-account-submenu .my-account-submenu {
    margin-right: 115px;
  }
  .main-header .navigation .logo {
    float: left;
  }
  .main-header .navigation .hold-nav {
    float: right;
    width: auto;
  }
  .main-header .navigation .main-nav {
    float: left;
    width: auto;
  }
  .main-header .navigation .main-nav .main-nav-item {
    margin-right: 40px;
    font-size: 12px;
  }
  .main-header .navigation .main-nav .main-nav-item:last-child {
    margin-right: 40px;
  }
  .main-header .navigation .main-nav .main-nav-item .main-nav-submenu .hold-main-nav-submenu .main-nav-submenu-list {
    display: inline;
    float: left;
    width: 39.6875%;
    margin: 0 2.03125%;
  }
  .main-header .navigation .wrap-search {
    float: left;
    width: auto;
  }
  .main-header .navigation .wrap-search .hold-input-search {
    width: auto;
  }
  .main-header .navigation .wrap-search .hold-input-search .input-search-label {
    width: 0;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
  }
  .main-header .navigation .wrap-search .hold-input-search .input-search-label .input-search {
    height: 28px;
    width: 94%;
  }
  .main-header .navigation .wrap-search .hold-input-search .input-search-label .btn-close-input-search {
    position: absolute;
    right: 50px;
    top: 15px;
    cursor: pointer;
    z-index: 999;
    display: none;
  }
  .main-header .navigation .wrap-search .hold-input-search .input-search-label.is-active {
    width: 355px;
  }
  .main-header .navigation .wrap-search .hold-input-search .input-search-label.is-active .btn-close-input-search {
    display: block;
  }
  .main-header-home {
    position: fixed;
    z-index: 99999;
  }
}
@media only screen and (min-width: 700px) {
  .main-header .navigation .main-nav .main-nav-item .main-nav-submenu .hold-main-nav-submenu .main-nav-submenu-list {
    display: inline;
    float: left;
    width: 27.1875%;
    margin: 0 2.03125%;
  }
}
@media only screen and (min-width: 990px) {
  .main-header .navigation .main-nav .main-nav-item .main-nav-submenu .hold-main-nav-submenu {
    width: 960px;
  }
}
.intro-video {
  background: transparent url("/img/poster.png") 50% 50% / cover no-repeat;
}
.hold-banner-home {
  float: left;
  width: 100%;
  margin-top: 10px;
  height: 400px;
  background: #e6eaf0;
  position: relative;
}
.hold-banner-home .banner-image {
  width: 100%;
  height: 100%;
  float: left;
  background-image: url("/img/capa.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.hold-banner-home img {
  width: auto;
  height: 100%;
}
.hold-banner-home .wrap-search-home {
  position: absolute;
  top: 40%;
  width: 100%;
}
.hold-banner-home .wrap-search-home .hold-input-search {
  width: 90%;
  margin: 0 auto;
}
.hold-banner-home .wrap-search-home .hold-input-search .input-search-label {
  float: left;
  width: 78%;
}
.hold-banner-home .wrap-search-home .hold-input-search .input-search-label input {
  width: 97%;
  text-align: center;
  border: 0;
  color: #666;
}
.menu-featured {
  width: 100%;
  float: left;
}
.menu-featured .item {
  width: 100%;
  float: left;
  position: relative;
  display: table;
}
.menu-featured .item .link-menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.menu-featured .item .hold-menu-featured-title {
  height: 100%;
  width: 100%;
  display: table;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.menu-featured .item .menu-featured-title {
  display: table-cell;
  vertical-align: middle;
  z-index: 9999;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 38px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  letter-spacing: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.menu-featured .item:hover .hold-menu-featured-title {
  background: rgba(0, 255, 255, 0.6);
}
.menu-featured .item:hover .hold-menu-featured-title .menu-featured-title {
  color: #000;
}
@media only screen and (min-width: 940px) {
  .hold-banner-home {
    margin-top: 40px;
  }
  .hold-banner-home .wrap-search-home {
    top: 55%;
  }
  .hold-banner-home .wrap-search-home .hold-input-search {
    width: 700px;
  }
  .hold-banner-home .wrap-search-home .hold-input-search .input-search-label {
    width: 90%;
  }
  .hold-banner-home .wrap-search-home .hold-input-search .input-search-label input {
    width: 97%;
  }
  .menu-featured .item {
    width: 33.3%;
  }
}
@media only screen and (min-width: 1200px) {
  .hold-banner-home .wrap-search-home .hold-input-search {
    width: 960px;
  }
  .hold-banner-home .wrap-search-home .hold-input-search .input-search-label input {
    width: 98%;
  }
}
.item-description {
  white-space: pre-line;
}
.product-description-wrapper {
  width: 100%;
}
.product-description-wrapper .product-name-holder {
  width: 100%;
  float: left;
}
.product-description-wrapper .product-name-holder .product-title {
  margin: 0;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 10px;
}
.product-description-wrapper .product-name-holder .product-description p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.product-description-wrapper .product-info {
  width: 100%;
  float: left;
  margin: 15px 0;
}
.product-description-wrapper .product-info .info-content {
  float: left;
  margin-right: 30px;
}
.product-description-wrapper .product-info .info-content .info-title {
  text-transform: uppercase;
  font-weight: 900;
  float: left;
  margin-right: 10px;
}
.product-description-wrapper .product-info .info-content .list {
  float: left;
}
.product-description-wrapper .product-info .info-content .list-color li {
  border: 1px solid #f1f1f1;
}
.product-description-wrapper .product-info .info-content li {
  float: left;
  margin: 3px 10px 0 0;
  line-height: 15px;
  font-size: 14px;
  width: 15px;
  height: 15px;
}
.product-description-wrapper .product-info .info-content li:last-child {
  margin: 3px 0 0 0;
}
.product-description-wrapper .product-info .info-content:last-child {
  margin: 0;
}
.product-description-wrapper .product-details {
  float: left;
  width: 93%;
}
.product-description-wrapper .hold-product-descount {
  width: 100%;
  float: left;
}
.product-description-wrapper .hold-product-descount .product-descount {
  float: right;
}
.product-description-wrapper .hold-product-descount .product-descount .percent {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  float: left;
}
.product-description-wrapper .hold-product-descount .product-descount .icon {
  float: left;
  margin-left: 10px;
}
.product-description-wrapper .hold-product-descount .product-descount .icon i {
  font-size: 21px;
  color: #0ade32;
}
.product-description-wrapper .hold-product-price {
  width: 100%;
  float: left;
}
.product-description-wrapper .hold-product-price .product-price {
  float: right;
}
.product-description-wrapper .hold-product-price .product-price .new-price {
  font-weight: 900;
  font-size: 34px;
  line-height: 30px;
}
.product-description-wrapper .parcela {
  width: 100%;
  float: left;
}
.product-description-wrapper .parcela p {
  text-align: right;
  margin: 0;
  text-transform: uppercase;
  font-style: italic;
}
.product-description-wrapper .hold-actions {
  float: right;
}
.product-description-wrapper .hold-actions .hold-btns {
  float: right;
  width: 100%;
}
.product-description-wrapper .hold-actions .btn-default {
  margin: 10px auto;
  line-height: 1.4;
}
.product-description-wrapper .hold-actions .btn-comprar-pontos {
  background-color: #f1f1f1;
  border: 1px solid #e4e4e4;
  color: #808080;
  cursor: not-allowed;
}
.product-description-wrapper .hold-actions .logo-loja {
  float: right;
  width: 40px;
  height: 20px;
  margin-top: -2px;
  background-size: 100%;
}
.product-description-wrapper .hold-actions .sentiment-actions {
  float: right;
  border-left: 1px solid #333;
  height: 100%;
}
.product-description-wrapper .hold-actions .sentiment-actions .btn-like,
.product-description-wrapper .hold-actions .sentiment-actions .btn-dislike {
  line-height: 1.4rem;
  width: 18px;
  float: left;
  padding: 0 10px;
  cursor: pointer;
  background: #000;
  padding: 10px;
}
.product-description-wrapper .hold-actions .sentiment-actions .btn-like:hover,
.product-description-wrapper .hold-actions .sentiment-actions .btn-dislike:hover {
  background: #222;
}
.product-description-wrapper .hold-actions .hold-social-icons {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.product-description-wrapper .hold-actions .hold-social-icons .social-icons {
  float: right;
}
.product-description-wrapper .hold-actions .hold-social-icons .social-icons span {
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 12px;
  float: left;
  color: #db37a2;
}
.product-description-wrapper .hold-actions .hold-social-icons .social-icons span i {
  color: #db37a2;
  font-size: 16px;
}
.product-description-wrapper .hold-actions .hold-social-icons .social-icons .icon {
  width: 16px;
  height: 16px;
}
.product-description-wrapper .hold-actions .hold-social-icons .social-icons .icon a {
  line-height: 16px;
}
@media only screen and (min-width: 700px) {
  .product-description-wrapper {
    width: 50%;
    float: right;
  }
  .product-description-wrapper .product-details {
    width: 86%;
  }
}
@media only screen and (min-width: 1080px) {
  .product-description-wrapper {
    display: inline;
    float: left;
    width: 52.1875%;
    margin: 0 2.03125%;
  }
  .product-description-wrapper .product-details {
    float: left;
    width: 93%;
  }
  .product-description-wrapper .hold-actions .hold-btns {
    float: left;
    width: auto;
  }
  .product-description-wrapper .hold-actions .btn-default {
    float: left;
    margin: 0 10px 0 0;
  }
  .product-description-wrapper .hold-actions .sentiment-actions {
    float: left;
  }
}
.main-footer {
  width: 100%;
  float: left;
}
.main-footer .footer-title {
  font-size: 14px;
  text-align: center;
}
.main-footer .wrap-footer-newsletter {
  width: 100%;
  float: left;
  background: #f1f1f1;
  padding: 20px 0;
}
.main-footer .wrap-footer-newsletter .hold-footer-newsletter {
  width: 100%;
  float: none;
  display: block;
  margin: 0 auto;
}
.main-footer .wrap-footer-newsletter .hold-footer-newsletter .footer-title {
  float: left;
  width: 100%;
  text-align: center;
  line-height: 40px;
}
.main-footer .wrap-footer-newsletter .hold-footer-newsletter .input-newsletter {
  width: 240px;
  margin: 0 auto;
  position: relative;
  display: inherit;
  height: 28px;
  line-height: 28px;
}
.main-footer .wrap-footer-newsletter .hold-footer-newsletter .btn-default {
  margin: 10px auto;
  width: 150px;
  display: inherit;
}
.main-footer .hold-footer-navigation {
  display: inline;
  float: left;
  width: 70.9375%;
  margin: 0 2.03125%;
  float: none;
  display: block;
  margin: 0 auto;
}
.main-footer .hold-footer-navigation .footer-content {
  display: inline;
  width: 70.9375%;
  margin: 0 2.03125%;
  float: left;
}
.main-footer .hold-footer-navigation .footer-content .footer-navigation-list li {
  text-align: center;
}
.main-footer .hold-footer-navigation .footer-content .footer-navigation-list a:hover {
  text-decoration: underline;
}
.main-footer .hold-footer-navigation .footer-social li {
  float: left;
  margin-right: 30px;
}
.main-footer .hold-footer-navigation .footer-social li:last-child {
  margin-right: 0;
}
.main-footer .hold-footer-navigation .footer-social li i {
  color: #db37a2;
  font-size: 21px;
}
@media only screen and (min-width: 940px) {
  .main-footer .wrap-footer-newsletter .hold-footer-newsletter {
    width: 530px;
  }
  .main-footer .wrap-footer-newsletter .hold-footer-newsletter .input-newsletter {
    float: left;
    margin: 0 20px 0 10px;
  }
  .main-footer .wrap-footer-newsletter .hold-footer-newsletter .footer-title {
    width: auto;
  }
  .main-footer .hold-footer-navigation .footer-content {
    width: 100%;
    margin: 0;
  }
  .main-footer .hold-footer-navigation .footer-social li {
    width: 48%;
    text-align: center;
    margin-right: 25px;
  }
  .main-footer .hold-footer-navigation .footer-social li i {
    font-size: 18px;
  }
}
