button {
    background: none;
    border: 0;
    font-size: 12px;
}

::-webkit-input-placeholder {
    color: @black;
    font: 12px @text;
    line-height: 32px;
    text-transform: uppercase;
}

:-moz-placeholder {
    color: @black;
    font: 12px @text;
    line-height: 32px;
    text-transform: uppercase;
}

::-moz-placeholder {
    color: @black;
    font: 12px @text;
    line-height: 32px;
    text-transform: uppercase;
}

:-ms-input-placeholder {
    color: @black;
    font: 12px @text;
    line-height: 32px;
    text-transform: uppercase;
}

input, select, textarea {
    border: 1px solid #969696;
    color: @black;
    padding: 5px 10px;
}

label {
    color: @black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
}

input[type="text"], input[type="password"], input[type="email"] {
    height: 30px;
    line-height: 30px;
}

select {
    background: none;
    border: 2px solid #000;
}

.btn-input-search {
    float: left;
    padding: 10px 15px;
    background: @primary-color;
    color: @black;
    font-size: 14px;
    height: 40px;
}

.btn-default, .btn-highlight {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: bold;
    color: @black;
    font-size: 14px;
    cursor: pointer;

}

.btn-default {
    border: 1px solid @black;
    min-width: 150px;
    &:hover {
        background: #000;
        color: #fff;
        a {
            color: #fff;
        }
    }
}

.btn-highlight {
    background: @primary-color;
    &:hover {
        background: #00d2d2;
    }
}

.wrap-form {
    padding-top: 50px;
    .form-row {
        clear: both;
        width: 100%;
        text-align: center;
        padding: 15px;
        box-sizing: border-box;
        label {
            display: inline-block;
            width: 200px;
            text-align: left;
        }
        &.form-send {
            margin-top: 50px;
        }
    }
    .form-input {
        width: 240px;
        margin: 0 auto;
        position: relative;
        height: 28px;
        line-height: 28px;
        display: inline-block;
    }
    .form-select {
        width: 262px;
        margin: 0 auto;
        position: relative;
        height: 40px;
        line-height: 40px;
        border: 1px solid #969696;
        color: @black;
        font: 12px @text;
        line-height: 32px;
        text-transform: uppercase;
    }
}