.page-header {
    width: 100%;
    float: left;
    margin: 50px 0;
    overflow: hidden;
    position: relative;
    .page-title {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 38px;
        text-align: center;
        margin: 0;
    }
    .page-subtitle {
        color: #9E9E9E;
        font-size: 16px;
        text-align: center;
        margin: 0;
    }
}

.hold-breadcrumbs {
    background: @gray;
    width: 100%;
    float: left;
    padding: 5px 0;
    .breadcrumbs {
        /*margin: 0 auto; */
        text-align: center;
        padding: 0;
        li {
            display: inline-block;
            text-transform: uppercase;
            margin: 0;
            /*float: left;*/
            &:before {
                content: '>';
                display: inline;
                margin: 0 10px;
            }
            &:first-child:before {
                content: '';
            }
        }
    }

}

.page-product {
    .hold-breadcrumbs {
        margin: 20px 0;
    }
}