// Do Bootstrap

// Mixins

.border-right-radius(@radius) {
    border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;
}

.border-left-radius(@radius) {
    border-bottom-left-radius: @radius;
    border-top-left-radius: @radius;
}

.pagination-size(@padding-vertical; @padding-horizontal; @font-size; @line-height; @border-radius) {
    > li {
        > a,
        > span {
            padding: @padding-vertical @padding-horizontal;
            font-size: @font-size;
            line-height: @line-height;
        }
        &:first-child {
            > a,
            > span {
                .border-left-radius(@border-radius);
            }
        }
        &:last-child {
            > a,
            > span {
                .border-right-radius(@border-radius);
            }
        }
    }
}


// Variáveis
@font-size-base:          14px;
@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px
@border-radius-base:        4px;
@padding-base-vertical:     6px;
@padding-base-horizontal:   12px;
@pagination-color:          @brand-primary;
@brand-primary:         #000; // #337ab7
@pagination-bg:                        #fff;
@pagination-border:                    #ddd;
@pagination-hover-color:               @link-hover-color;
@link-hover-color:      darken(@link-color, 15%);
@link-color:            @brand-primary;
@pagination-hover-bg:                  #eee;
@pagination-hover-border:              #ddd;
@pagination-active-color:              #fff;
@pagination-active-bg:                 @brand-primary;
@pagination-active-border:             @brand-primary;
@pagination-disabled-color:            #eee;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ddd;
@cursor-disabled:                not-allowed;
@padding-large-vertical:    10px;
@padding-large-horizontal:  16px;
@padding-small-vertical:    5px;
@padding-small-horizontal:  10px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px
@line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
@line-height-small:         1.5;
@border-radius-large:       6px;
@border-radius-small:       3px;

//
// Pagination (multiple pages)
// --------------------------------------------------
.text-center {
    text-align: center
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: @line-height-computed 0;
  border-radius: @border-radius-base;

  > li {
    display: inline; // Remove list-style and block-level defaults
    > a,
    > span {
      position: relative;
      float: left; // Collapse white-space
      padding: @padding-base-vertical @padding-base-horizontal;
      line-height: @line-height-base;
      text-decoration: none;
      color: @pagination-color;
      background-color: @pagination-bg;
      border: 1px solid @pagination-border;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
        .border-left-radius(@border-radius-base);
      }
    }
    &:last-child {
      > a,
      > span {
        .border-right-radius(@border-radius-base);
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      z-index: 2;
      color: @pagination-hover-color;
      background-color: @pagination-hover-bg;
      border-color: @pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 3;
      color: @pagination-active-color;
      background-color: @pagination-active-bg;
      border-color: @pagination-active-border;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: @pagination-disabled-color;
      background-color: @pagination-disabled-bg;
      border-color: @pagination-disabled-border;
      cursor: @cursor-disabled;
    }
  }
}

// Sizing
// --------------------------------------------------

// Large
.pagination-lg {
  .pagination-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large; @line-height-large; @border-radius-large);
}

// Small
.pagination-sm {
  .pagination-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
}
