.product-photo-wrapper{
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 30px;
	.product-img{
		width: 80%;
		float: left;
	} 
	.photo-gallery-navigation{
		width: 15%;
		position: absolute;
		bottom: 0;
		right: 0;
		.photo-gallery-list{


			li{
                cursor: pointer;
				margin: 10px 0;
				&:last-child{
					margin: 0;
				}
				.product-img-small{
					img{
						width: 100%;
						height: auto;
						max-height: 60px;
                        max-width: 60px;
                        opacity : 0.8;
                        &:hover {
                            opacity: 1;
                        }
					}
				}
			}

		}
		
	}
}



@media only screen and (min-width: 580px) {

	.product-photo-wrapper{
		.photo-gallery-navigation{
			width: 17%;
		}	
	}	
	
}

@media only screen and (min-width: 700px) {
	.product-photo-wrapper{
		width: 46%;
		.photo-gallery-navigation{
			width: 15%;
		}
	}

}


@media only screen and (min-width: 1024px) {

	.product-photo-wrapper{
		.column(7);
		position: relative;
		.product-img{
			width: 83%;
			float: left;
			min-height: 200px;
		} 

	}

}








