i.branco {
    color: @branco;
}

i.amarelo {
    color: @amarelo;
}

i.azul {
    color: @azul;
}

i.cinza {
    color: @cinza;
}

i.bege {
    color: @bege;
}

i.laranja {
    color: @laranja;
}

i.verde {
    color: @verde;
}

i.marrom {
    color: @marrom;
}

i.rosa {
    color: @rosa;
}

i.vermelho {
    color: @vermelho;
}

i.roxo {
    color: @roxo;
}

i.preto {
    color: @preto;
}

.product-list {
    float: left;
    width: 100%;
    .transition (all .5s ease);

}

.results {

}

.product-thumb {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    min-height: 150px;

    .product-img {
        float: left;
        width: 100%;
        height: 100%;

    }
    .stamps-holder {
        position: absolute;
        right: 0;
        top: 0;
    }
    .base-stamp {
        width: 0;
        height: 0;
        float: right;
        border-left: 60px solid transparent;
        .desconto {
            position: absolute;
            top: 5px;
            right: 5px;
            font-weight: bold;
            font-size: 14px;
        }
    }
    .stamp-desconto-grande {
        border-top: 60px solid @desconto-grande;
    }
    .stamp-desconto-medio {
        border-top: 60px solid @desconto-medio;
    }
    .stamp-desconto-pequeno {
        border-top: 60px solid @desconto-pequeno;
    }
    .thumb-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .gradient(transparent, #000);
        opacity: .7;
    }
    .product-info-holder {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 999;
        padding-bottom: 15%;
        .price-holder {
            width: 100%;
            float: left;
            padding: 0 20px;
            box-sizing: border-box;

            .old-price {
                color: #fff;
                font-size: 16px;
                margin-right: 10px;
            }
            .new-price {
                color: #fff;
                font-size: 34px;
                float: left;
                width: 100%;
            }
        }
        .info-extra {
            width: 100%;
            float: left;
            margin-top: 10px;
            opacity: 0;
            display: none;
            .transition (all .5s ease);
            .product-color, .product-size {
                padding: 0 20px;

                p {
                    color: #fff;
                    float: left;
                    text-transform: uppercase;
                    margin: 0;
                }
                .list {
                    float: left;
                    li {
                        float: left;
                        margin: 0 0 0 5px;
                        text-transform: uppercase;
                    }
                }
            }
            .product-color {
                float: left;
                margin-right: 10px;
            }
            .product-size {
                float: left;
                li {
                    color: #fff;
                }
            }
            .actions-holder {
                float: left;
                width: 100%;
                background: #000;
                position: absolute;
                bottom: 0;
                left: 0;
                height: 35px;
                .btn-more {
                    color: #fff;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-align: center;
                    width: 60%;
                    float: left;
                    line-height: 35px;
                    cursor: pointer;
                }
                .sentiment-actions {
                    float: right;
                    border-left: 1px solid #333;
                    height: 100%;
                    padding: 0;
                    .btn-like, .btn-dislike {
                        width: 18px;
                        float: left;
                        padding: 0 10px;
                        cursor: pointer;
                        height: 100%;
                        line-height: 2rem;
                        &:hover {
                            background: #222;
                        }
                    }
                }
            }

        }
    }
    &.is-hovering {
        .info-extra {
            display: block;
            opacity: 1;
        }
    }
}

.product-list-extra {
    width: 100%;
    float: left;
    .product-thumb {
        width: 300px;
        margin: 0 auto;
        margin-bottom: 2%;
        .product-info-holder {
            padding: 10px;
            width: 94%;
            .price-holder {
                .old-price {
                    font-size: 14px;
                }
                .new-price {
                    font-size: 21px;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {

    .product-thumb {
        width: 48%;
        float: left;
        margin: 0 2% 2% 0;
        &:last-child {
            margin-right: 0;
        }
    }

    .product-list-extra {
        .product-thumb {
            width: 31%;
            float: left;
            margin: 0 2% 2% 0;
        }
    }

}

@media only screen and (min-width: 930px) {
    .product-thumb {
        width: 31.3%;
    }

    .product-list-extra {
        .product-thumb {
            width: 23%;
            .product-info-holder {
                width: 94%;
            }

        }
    }
}

@media only screen and (min-width: 1024px) {
    .product-list {
        width: 76.9375%;
    }

    .filtre-hidden {
        .product-list {
            width: 100%;
        }

    }
}

@media only screen and (min-width: 1300px) {
    .product-thumb {
        width: 23%;
    }
}

@media only screen and (min-width: 1390px) {
    .product-list-extra {
        .product-thumb {
            width: 14.6%;
            .product-info-holder {
                width: 90%;
                .info-extra .actions-holder .btn-more {
                    width: 55%;
                }
            }
        }
    }

}
