.search-navigation{
	width: 98%;
	float: left;
	margin: 30px 0 30px 2.03125%;

	.filtre-control{
		float: left;
		display: none;
	}
	.filtre-orderBy{
		float: right;
	}
	.btn-filtreOn, .btn-filtreOff, span{
		float: left;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 13px;
		margin-right: 20px;
		cursor: pointer;

	}
	.btn-filtreOn, .btn-filtreOff{
		&:hover{
			border-bottom: 2px solid @primary-color;
		}
	}
	.btn-filtreOn{
		color: @primary-color;
	}

}

.filtre-hidden{
	.btn-filtreOn{
		color: #000;
	}
	.btn-filtreOff{
		color: @primary-color;
	}
}

@media only screen and (min-width: 1024px) {

	.search-navigation{
		margin: 30px 0;

		.filtre-control{
			display: block;
		}
	}

}