.sidebar {
    float: left;
    width: 100%;
    margin: 0;
    .transition (all .5s ease);
}

.btn-expand-filtre {
    /*width: 100%;*/
    width: 95%;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background: @gray;
    cursor: pointer;
    margin-bottom: 20px;
}

.hold-sidebar-content {
    height: 0;
    display: none;
}

.sidebar-content {
    width: 100%;
    float: left;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    &:last-child {
        border: 0;
    }
}

.input_cor {
    float: left;
}

.field_cor {
    width: 38px;
    height: 38px;
    float: left;
    margin-left: 5px;
    border: 1px solid @gray;
    border-radius: 25%;
    cursor: pointer;
    &.branco {
        background-color: @branco;
    }
    &.amarelo {
        background-color: @amarelo;
    }
    &.azul {
        background-color: @azul;
    }
    &.cinza {
        background-color: @cinza;
    }
    &.bege {
        background-color: @bege;
    }
    &.laranja {
        background-color: @laranja;
    }
    &.verde {
        background-color: @verde;
    }
    &.marrom {
        background-color: @marrom;
    }
    &.rosa {
        background-color: @rosa;
    }
    &.vermelho {
        background-color: @vermelho;
    }
    &.roxo {
        background-color: @roxo;
    }
    &.preto {
        background-color: @preto;
    }
}

.sidebar-content-title {
    float: left;
    width: 100%;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 10px;
    &.sidebar-content-can-reset {
        width: 80%;
    }
}

.sidebar-content-reset {
    float: right;
    width: 20%;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: right;
    i:hover {
        cursor: pointer;
    }
}

.field {
    float: left;
    width: 100%;
    margin-bottom: 1px;
    position: relative;
    &:hover {
        background: #eee;
    }
    &.checked {
        background: #000;
        label {
            color: #fff;
        }
        .icon {
            cursor: pointer;
            label {
                color: #fff;
            }
        }
    }
    input[type=radio], input[type=checkbox] {
        visibility: hidden;
        cursor: pointer;
        position: absolute;
    }
    label {
        cursor: pointer;
        width: 100%;
        float: left;
        margin-left: 10px;
        padding: 10px 0;
    }
    .icon {
        position: absolute;
        right: 5px;
        top: 7px;
        i {
            color: #fff;
        }
    }
}

.field-sizes {
    width: 30%;
    margin: 1%;
    text-align: center;
    border: 1px solid #ccc;
    label {
        margin: 0;
    }
}

.field-small {
    float: left;
    padding: 10px 0;
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}

.btn-limpar-filtro {
    width: 100%;
    float: left;
    background: @gray;
    padding: 10px;
    text-transform: uppercase;;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:hover {
        background: #E2E2E2;
    }
}

.valor-inicial {
    float: left;
    font-weight: bold;
}

.valor-maximo {
    float: right;
    font-weight: bold;
    input {
        border: 0;
        float: right;
        width: 100px;
        line-height: 24px;
        height: 24px;
        text-align: right;
        padding: 0;
        font-weight: bold;
    }
}

.range {
    float: left;
    width: 100%;
    margin-top: 10px;
    background: #000;
    height: 5px;
    .ui-widget-header {
        background: #000;
        height: 5px;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: @primary-color;
        border: 0;
        height: 15px;
        width: 15px;
        border-radius: 0;
    }
}

.sidebar-opened {
    .hold-sidebar-content {
        height: auto;
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .sidebar {
        .column(4);
        margin: 0 2% 0 0;
        display: block;
    }

    .filtre-hidden {
        .sidebar {
            width: 0;
            opacity: 0;
            margin: 0;
        }

    }

    .btn-expand-filtre {
        display: none;
    }

    .hold-sidebar-content {
        height: auto;
        display: block;
    }

}