.toggle{
	background: @gray;
	padding: 10px 20px;
	.hold-toggle-title{
		float: left;
		width: 100%;
		.toggle-title{
			width: auto;
			float: right;
			text-align: right;
			text-transform: uppercase;
			font-weight: bold;
			border-bottom: 1px solid #000;
			padding-bottom: 5px;
			span{
				float: left;
			}
			.icon{
				margin-right: 10px;
			}
		}
	}
	.list{
		float: right;
		margin-top: 10px;
	}
	li{
		text-align: right;
		margin: 0;
	}
}

