.main-footer{
	width: 100%;
	float: left;
	.footer-title{
		font-size: 14px;
		text-align: center;
	}
	.wrap-footer-newsletter{
		width: 100%;
		float: left;
		background: @gray;
		padding: 20px 0;
		.hold-footer-newsletter{
			width: 100%;
			float: none;
			display: block;
			margin: 0 auto;
			.footer-title{
				float: left;
				width: 100%;
				text-align: center;
				line-height: 40px;
			}
			.input-newsletter{
				width: 240px;
				margin: 0 auto;
				position: relative;
				display: inherit;
				height: 28px;
				line-height: 28px;
			}
			.btn-default{
				margin: 10px auto;
				width: 150px;
				display: inherit;
			}
		}
	}
	.hold-footer-navigation{
		.column(12);
		float: none;
		display: block;
		margin: 0 auto;
		.footer-content{
			.column(12);
			float: left;
			.footer-navigation-list{
                li{
                    text-align: center;
                }
				a:hover{
					text-decoration: underline;
				}
			}
		}
		.footer-social{
			li{
				float: left;
				margin-right: 30px;
				&:last-child{
					margin-right: 0;
				}
				i{
					color: @secondary-color;
					font-size: 21px;
				}
			}
		}
	}
}

@media only screen and (min-width: 940px) {
	.main-footer{

		.wrap-footer-newsletter{
			.hold-footer-newsletter{
				width: 530px;
				.input-newsletter{
					float: left;
					margin: 0 20px 0 10px;
				}
				.footer-title{
					width: auto;
				}
			}
		}
		.hold-footer-navigation{
			.footer-content{
                width: 100%;
                margin: 0;
			}
			.footer-social{
				li{
                    width: 48%;
                    text-align: center;
					margin-right: 25px;
					i{
						font-size: 18px;
					}
				}
			}
		}

	}
}
