.hold-modal-login {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 1000%;
    position: absolute;
    z-index: 9999;
    display: none;

    .modal-login {
        background: #fff;
        width: 300px;
        padding: 20px;
        margin: 25vh auto;
        position: relative;
        .modal-title {
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            font-size: 32px;
            margin-bottom: 20px;
        }
        .btn-login-facebook {
            background: #3650b5;
            color: #fff;
            text-align: center;
            padding: 15px;
            text-transform: uppercase;
            font-size: 12px;
        }
        .field-login {
            width: 95%;
            float: left;
            margin-bottom: 10px;
        }
        .small {
            width: 100%;
            margin: 10px 0;
            display: block;
        }
        .btn-login, .btn-default {
            width: 200px;
            margin: 0 auto;
            display: block;
        }
        .btn-close-modal-login {
            position: absolute;
            top: -50px;
            display: block;
            width: 85%;
            cursor: pointer;
            div {
                width: 30px;
                height: 30px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}

.nav-logged {
    float: left;
    width: 250px;
    background: #fff;
    height: 100vh;
    .menu-title {
        text-transform: uppercase;
        font-weight: bold;
        text-align: left;
        font-size: 32px;
        padding: 20px 30px 10px 30px;
        margin: 0;
        color: #000;
    }
}

.btn-close-nav {
    width: 30px;
    height: 30px;
    margin: 20px auto;
}

.main-header {
    width: 100%;
    float: left;
    &_wrapper {
        width: 95%;
        margin: 0 auto;
    }
    ul,
    li,
    a {
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav-pull {
        float: left;
        color: #fff;
        cursor: pointer;
        i {
            font-size: 24px;
            margin-top: 10px;
        }
    }
    .header-main-menu {
        width: 100%;
        float: left;
        background: @black;
        position: relative;
        &_holder-account {
            float: right;
            li {
                float: left;
                display: inline-block;
                color: @white;
                text-transform: uppercase;
                padding: 10px 0;
                font-size: 12px;
                font-weight: bold;
                cursor: pointer;
                &:first-child {
                    margin-right: 20px;
                    border-right: 1px solid @white;
                    padding-right: 20px;
                }
                .link-menu-above {
                    color: @white;
                    text-transform: uppercase;
                    font-size: 12px;
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }
    .hold-my-account-submenu {
        position: absolute;
        width: 100%;
        top: 40px;
        left: 0;
        background: #fff;
        z-index: 999;
        height: 0;
        overflow: hidden;
        .transition (all .2s ease);
        &.is-active {
            height: auto;
            padding: 20px 0;
        }
        .my-account-submenu {
            float: right;
            li {
                float: left;
                margin: 0;
                &:last-child {
                    margin-right: 0;
                }

                a {
                    text-transform: uppercase;
                    font-weight: bold;
                    padding: 10px 20px;
                    &:hover {
                        border-bottom: 5px solid #000;
                    }
                }
            }
        }
    }
    .navigation {
        width: 100%;
        float: left;
        padding: 10px 0;
        .transition (all .2s ease);

        .logo {
            width: 150px;
            margin: 0 auto;
        }
        .hold-nav {
            width: 100%;
            float: left;
        }
        .main-nav {
            margin: 0 auto;
            width: 310px;
            .main-nav-item {
                float: left;
                margin-right: @gutter;
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
                line-height: 40px;
                cursor: pointer;
                &:last-child {
                    margin-right: 0;
                }
                .main-nav-submenu {
                    position: absolute;
                    background: #fff;
                    width: 100%;
                    left: 0;
                    height: 0;
                    overflow: hidden;
                    // display: none;
                    .transition (all .2s ease);
                    z-index: 999;

                    .hold-main-nav-submenu {
                        width: 90%;
                        margin: 50px auto;
                        .main-nav-submenu-list {
                            .column(12);
                            .submenu-title {
                                width: 100%;
                                border-bottom: 3px solid #e1e1e1;
                            }
                        }
                    }
                }
            }
        }
        .wrap-search {
            margin: 0 auto;
            position: relative;
            width: 310px;
            .hold-input-search {
                float: left;
                overflow: hidden;
                width: 100%;
                .input-search-label {
                    float: left;
                    width: 80%;
                    .input-search {
                        height: 25px;
                        width: 90%;
                    }
                    .btn-close-input-search {
                        display: none;
                    }
                }
            }

        }
    }
    .navigation.submenu-is-active {
        background-color: #fff;
        .main-nav .main-nav-item .main-nav-submenu {
            height: auto;
            padding-bottom: 50px;
        }

    }
}

@media only screen and (min-width: 560px) {

    .main-header {
        width: 100%;
        &_wrapper {
            width: 90%;
        }
        .main-header .hold-my-account-submenu .my-account-submenu {
            margin-right: 115px
        }
        .navigation {
            .logo {
                float: left;
            }
            .hold-nav {
                float: right;
                width: auto;
            }
            .main-nav {
                float: left;
                width: auto;
                .main-nav-item {
                    margin-right: @gutter;
                    font-size: 12px;
                    &:last-child {
                        margin-right: @gutter;
                    }
                    .main-nav-submenu .hold-main-nav-submenu .main-nav-submenu-list {
                        .column(7);
                    }
                }
            }

            .wrap-search {
                float: left;
                width: auto;
                .hold-input-search {
                    width: auto;
                    .input-search-label {
                        width: 0;
                        .transition (width .5s ease);
                        .input-search {
                            height: 28px;
                            width: 94%;
                        }
                        .btn-close-input-search {
                            position: absolute;
                            right: 50px;
                            top: 15px;
                            cursor: pointer;
                            z-index: 999;
                            display: none;
                        }
                    }
                    .input-search-label.is-active {
                        width: 355px;
                        .btn-close-input-search {
                            display: block;
                        }
                    }
                }

            }
        }

    }

    .main-header-home {
        position: fixed;
        z-index: 99999;
    }

}

@media only screen and (min-width: 700px) {
    .main-header .navigation .main-nav .main-nav-item .main-nav-submenu .hold-main-nav-submenu .main-nav-submenu-list {
        .column(5);

    }

}

@media only screen and (min-width: 990px) {
    .main-header .navigation .main-nav .main-nav-item .main-nav-submenu .hold-main-nav-submenu {
        width: 960px;
    }
}

