.intro-video {
    background: transparent url("/img/poster.png") 50% 50% / cover no-repeat ;
}

.hold-banner-home{
	float: left;
	width: 100%;
	margin-top: 10px;
	height: 400px;
	background: rgb(230, 234, 240);
	position: relative;
	.banner-image{
		width: 100%;
		height: 100%;
		float: left;
		background-image: url("/img/capa.jpg");
		background-repeat: no-repeat;
		background-position: center;
	}
	img{
		width: auto;
		height: 100%;
	}
	.wrap-search-home{
		position: absolute;
		top: 40%;
		width: 100%;
		.hold-input-search{
			width: 90%;
			margin: 0 auto;

			.input-search-label{
				float: left;
				width: 78%;
				input{
					width: 97%;
					text-align: center;
					border: 0;
					color: #666;
				}
			}
		}
	}
}


.menu-featured{
	width: 100%;
	float: left;
	.item{
		width: 100%;
		float: left;
		position: relative;
		display: table;
		.link-menu{
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
		.hold-menu-featured-title{
			height: 100%;
			width: 100%;
			display: table;
			.transition (all .5s ease);
		}
		.menu-featured-title{
			display: table-cell;
			vertical-align: middle;
			z-index: 9999;
			color: @white;
			text-align: center;
			width: 100%;
			font-size: 38px;
			text-shadow: 2px 2px 4px rgba(0,0,0,.5);
			letter-spacing: 5px;
			.transition (all .5s ease);

		}
		&:hover .hold-menu-featured-title{
			background: @pc-transparent;
			.menu-featured-title{
				color: @black;
			}
		}

	}
	
}

@media only screen and (min-width: 940px) {
	.hold-banner-home{
		margin-top: 40px;
		.wrap-search-home{
			top: 55%;
			.hold-input-search{
				width: 700px;
				.input-search-label {
					width: 90%;
					input{
						width: 97%;
					}
				}
			}
		}
	}
	.menu-featured{
		.item{
			width: 33.3%;
		}
	}
}

@media only screen and (min-width: 1200px) {
	
	.hold-banner-home{
		.wrap-search-home{
			.hold-input-search{
				width: 960px;
				.input-search-label {
					input{
						width: 98%;
					}
				}
			}
		}
	}
}


