.item-description {
    white-space: pre-line;
}

.product-description-wrapper {
    width: 100%;

    .product-name-holder {
        width: 100%;
        float: left;
        .product-title {
            margin: 0;
            font-weight: 900;
            line-height: 32px;
            margin-bottom: 10px;
        }
        .product-description {
            p {
                font-size: 14px;
                line-height: 18px;
                margin: 0;
            }
        }
    }
    .product-info {
        width: 100%;
        float: left;
        margin: 15px 0;
        .info-content {
            float: left;
            margin-right: 30px;
            .info-title {
                text-transform: uppercase;
                font-weight: 900;
                float: left;
                margin-right: 10px;
            }
            .list {
                float: left;
            }
            .list-color {
                li {
                    border: 1px solid @gray;
                }
            }
            li {
                float: left;
                margin: 3px 10px 0 0;
                line-height: 15px;
                font-size: 14px;
                width: 15px;
                height: 15px;
                &:last-child {
                    margin: 3px 0 0 0;
                }

            }
            &:last-child {
                margin: 0;
            }
        }
    }
    .product-details {
        float: left;
        width: 93%;
    }

    .hold-product-descount {
        width: 100%;
        float: left;
        .product-descount {
            float: right;
            .percent {
                font-weight: bold;
                font-size: 26px;
                line-height: 30px;
                float: left;
            }
            .icon {
                float: left;
                margin-left: 10px;
                i {
                    font-size: 21px;
                    color: #0ade32;
                }
            }
        }
    }
    .hold-product-price {
        width: 100%;
        float: left;
        .product-price {
            float: right;
            .new-price {
                font-weight: 900;
                font-size: 34px;
                line-height: 30px;
            }
        }
    }
    .parcela {
        width: 100%;
        float: left;
        p {
            text-align: right;
            margin: 0;
            text-transform: uppercase;
            font-style: italic;
        }
    }
    .hold-actions {
        float: right;
        .hold-btns {
            float: right;
            width: 100%;
        }
        .btn-default {
            margin: 10px auto;
            line-height: 1.4;
        }
        .btn-comprar-pontos {
            background-color: @gray;
            border: 1px solid darken(@gray, 5%);
            color: #808080;
            cursor: not-allowed;
        }
        .logo-loja {
            float: right;
            width: 40px;
            height: 20px;
            margin-top: -2px;
            background-size: 100%;
        }

        .sentiment-actions {
            float: right;
            border-left: 1px solid #333;
            height: 100%;
            .btn-like, .btn-dislike {
                line-height: 1.4rem;
                width: 18px;
                float: left;
                padding: 0 10px;
                cursor: pointer;
                background: #000;
                padding: 10px;
                &:hover {
                    background: #222;
                }
            }
        }
        .hold-social-icons {
            float: left;
            width: 100%;
            margin-top: 15px;
            .social-icons {
                float: right;
                span {
                    margin-left: 15px;
                    text-transform: uppercase;
                    font-size: 12px;
                    float: left;
                    color: @secondary-color;

                    i {
                        color: @secondary-color;
                        font-size: 16px;
                    }
                }
                .icon {
                    width: 16px;
                    height: 16px;
                    a {
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 700px) {

    .product-description-wrapper {
        width: 50%;
        float: right;
        .product-details {
            width: 86%;
        }
    }

}

@media only screen and (min-width: 1080px) {
    .product-description-wrapper {
        .column(9);

        .product-details {
            float: left;
            width: 93%;
        }

        .hold-actions {
            .hold-btns {
                float: left;
                width: auto;
            }
            .btn-default {
                float: left;
                margin: 0 10px 0 0;
            }
            .sentiment-actions {
                float: left;
            }
        }

    }

}


