<main class="main page page-product">
    <div class="hold-breadcrumbs" itemprop="breadcrumb">
        <ul class="breadcrumbs">
            <li><a ui-sref="root.home" ui-sref-opts="{inherit: false}">Home</a></li>
            <li>
                <a ui-sref="root.produtos({categoria: vm.item.macro_categorias[0]})" ui-sref-opts="{inherit: false}">
                    {{vm.item.macro_categorias[0] | accentCorrection}}
                </a>
            </li>
            <li ng-if="vm.item.sexo.indexOf('m') !== -1 && vm.item.sexo.indexOf('f') === -1">
                <a ui-sref="root.produtos({categoria: vm.item.macro_categorias[0], sexo: ['m']})" ui-sref-opts="{inherit: false}">
                    Masculino
                </a>
            </li>
            <li ng-if="vm.item.sexo.indexOf('f') !== -1 && vm.item.sexo.indexOf('m') === -1">
                <a ui-sref="root.produtos({categoria: vm.item.macro_categorias[0], sexo: ['f']})" ui-sref-opts="{inherit: false}">
                    Feminino
                </a>
            </li>
            <li ng-if="vm.item.infantil === true">
                <a ui-sref="root.produtos({categoria: vm.item.macro_categorias[0], infantil: true, sexo: vm.item.sexo})" ui-sref-opts="{inherit: false}">
                    Infantil
                </a>
            </li>
            <li><a ui-sref=".">{{vm.item.nome}}</a></li>
        </ul>
    </div>
    <div class="wrapper-content">
        <div class="product-photo-wrapper">
            <div class="product-img product-large active">
                <!--<img ng-src="http://s3-sa-east-1.amazonaws.com/mooi-items/images/produtos/{{vm.item.loja}}/{{vm.item.images[vm.photoIndex]}}" alt="Produto"> -->
                <img ng-src="{{vm.getImageURL(vm.item, vm.photoIndex)}}" alt="Produto">
            </div>
            <div class="photo-gallery-navigation">
                <ul class="photo-gallery-list">
                    <li class="active" ng-repeat="photo in vm.item.images | limitTo:5 track by $index"
                        ng-click="vm.changeImage($index)">
						<span class="product-img-small">
							<!--<img ng-src="http://s3-sa-east-1.amazonaws.com/mooi-items/images/produtos/{{vm.item.loja}}/{{photo}}"
                                 title="Produto" alt="Produto" width="50" height="50">-->
                            <img ng-src="{{vm.getImageURL(vm.item, $index)}}"
                                 title="Produto" alt="Produto" width="50" height="50">
						</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-description-wrapper">
            <div class="product-name-holder">
                <h1 class="product-title">{{vm.item.nome}}</h1>
                <div class="product-description">
                    <p class="item-description">{{vm.item.descricao | lineBreakCorrection}}</p>
                </div>
            </div>
            <div class="product-info">
                <div class="info-content">
                    <div class="info-title">Tamanhos</div>
                    <ul class="list">
                        <li ng-repeat="size in vm.item.tamanhos_mooi">{{size | uppercase}}</li>
                    </ul>
                </div>
                <div class="info-content">
                    <div class="info-title">Cores</div>
                    <ul class="list list-color">
                        <li ng-repeat="color in vm.item.cores_mooi track by $index" class="fundo-{{color}}" title="{{color | capitalize}}"></li>
                    </ul>
                </div>
                <div class="info-content" ng-show="vm.item.marca">
                    <div class="info-title">Marca</div>
                    <span class="marca">{{vm.item.marca}}</span>
                </div>
            </div>
            <div class="product-details toggle">
                <div class="hold-toggle-title"><div class="toggle-title"><span class="icon">-</span><span>Detalhes</span></div></div>
                <ul class="list">
                    <li ng-if="vm.item.materiais">Composição: {{vm.item.materiais | material}}</li>
                    <li ng-if="vm.item.sexo">Gênero: {{vm.item.sexo | genderCorrection}}</li>
                    <li ng-if="vm.item.temporada">Temporada: {{vm.item.temporada | capitalize}}</li>
                    <li ng-if="vm.item.comprimento">Comprimento: {{vm.item.comprimento | capitalize}}</li>
                    <li ng-if="vm.item.gola">Gola: {{vm.item.gola | capitalize}}</li>
                    <li ng-if="vm.item.manga">Manga: {{vm.item.manga | capitalize}}</li>
                    <li ng-if="vm.item.estilos">Estilos: {{vm.item.estilos | listToString}}</li>
                    <li ng-if="vm.item.cano">Cano: {{vm.item.cano | capitalize}}</li>
                    <li ng-if="vm.item.salto_tipo">Tipo do salto: {{vm.item.salto_tipo | capitalize}}</li>
                    <li ng-if="vm.item.salto_altura">Altura do salto: {{vm.item.salto_altura | capitalize}}</li>
                    <li ng-if="vm.item.ocasiao">Ocasião: {{vm.item.ocasiao | capitalize}}</li>
                </ul>
            </div>
            <div class="row">
                <div class="hold-product-descount" ng-if="vm.item.preco_desconto > 0">
                    <div class="product-descount">
                        <span class="percent">{{vm.item.preco_desconto | percentage}}</span>
                        <div class="icon arrow-down"><i class="fa fa-caret-down"></i></div>
                    </div>
                </div>
                <div class="hold-product-price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <div class="product-price">
                        <del class="old-price" ng-if="vm.item.preco_antigo_vista && vm.item.preco_antigo_vista > vm.item.preco_vista">
                            {{vm.item.preco_antigo_vista | currency}}
                        </del>
                        <strong class="new-price" itemprop="price" ng-if="vm.item.preco_vista">{{vm.item.preco_vista | currency}}</strong>
                    </div>
                </div>
				<span class="parcela" ng-if="vm.item.preco_parcelado_vezes">
					<p><span>em até {{vm.item.preco_parcelado_vezes}}x</span><span ng-if="vm.item.preco_parcelado_parcela"> de {{vm.item.preco_parcelado_parcela | currency}}</span></p>
				</span>
            </div>
            <div class="hold-actions">
                <div class="right">
                    <div class="hold-btns">
                        <div class="btn-default btn-comprar-pontos">Comprar com Pontos</div>
                        <a ng-href="{{vm.item.link_afiliados}}" target="_blank" ng-click="vm.conversion(vm.item)">
                            <div class="btn-default btn-comprar-loja">Comprar na {{vm.item.loja}}
							    <!--<span class="logo-loja">
								    <img ng-src="/img/logo-{{vm.item.loja}}.png" alt="Logo {{vm.item.loja}}">
							    </span> -->
                            </div>
                        </a>
                    </div>
					<span class="sentiment-actions">
                        <a href="" ng-click="vm.likeItem(vm.item)">
                            <span class="btn-like">
                                <img ng-src="/img/icon-like{{vm.item.liked && '-checked' || ''}}.png" alt="Gostei do Produto">
                            </span>
                        </a>
						<a href="" ng-click="vm.dislikeItem(vm.item)">
                            <span class="btn-dislike">
                                <img ng-src="/img/icon-dislike{{vm.item.disliked && '-checked' || ''}}.png" alt="Não gostei do produto">
                            </span>
                        </a>
					</span>
                </div>
                <div class="hold-social-icons">
                    <div class="social-icons">
                        <span>Curta e compartilhe</span>
						<span class="icon icon-fb">
							<a facebook data-url='{{vm.url}}' data-shares='shares'><i class="fa fa-facebook"></i></a>
						</span>
						<!--<span class="icon icon-tw">
							<a href="#"><i class="fa fa-twitter"></i></a>
						</span>
						<span class="icon icon-gplus">
							<a href="#"><i class="fa fa-google-plus"></i></a>
						</span>
						<span class="icon icon-vimeo">
							<a href="#"><img src="/img/icon-vimeo.png" alt="Compartilhar no Vimeo"></a>
						</span>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-images-loaded>
            <div class="product-list-extra" data-images-loaded ng-if="vm.viewed.length && vm.viewed.length > 0">
                <h2 class="base-title">Últimos Visualizados</h2>
                <ul class="results">
                    <li class="product-thumb" ng-repeat="item in vm.viewed">
                        <span class="product-img">
                            <!--<img title="Produto" alt="Produto" class="main-product-image"
                                 ng-src="http://s3-sa-east-1.amazonaws.com/mooi-items/images/produtos/{{item.loja}}/{{item.images[0]}}">-->
                            <img title="Produto" alt="Produto" class="main-product-image"
                                 ng-src="{{vm.getImageURL(item, 0)}}">
                            <span class="stamps-holder" ng-if="item.preco_desconto > 0">
                                <span class="base-stamp"
                                      ng-class="{'stamp-desconto-grande': item.preco_desconto > 40, 'stamp-desconto-medio': item.preco_desconto > 20, 'stamp-desconto-pequeno': item.preco_desconto > 0}">
                                    <span class="desconto">{{item.preco_desconto | percentage}}</span>
                                </span>
                            </span>
                        </span>
                        <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion(item)">
                            <span class="thumb-cover"></span>
                        </a>
                        <span class="product-info-holder">
                            <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion(item)">
                                <span class="price-holder" itemprop="offers" itemscope=""
                                      itemtype="http://schema.org/Offer">
                                    <del class="old-price"
                                        ng-show="item.preco_antigo_vista && item.preco_antigo_vista > item.preco_vista">
                                        {{item.preco_antigo_vista | currency}}
                                    </del>
                                    <strong class="new-price" itemprop="price">{{item.preco_vista | currency}}</strong>
                                </span>
                            </a>
                            <span class="info-extra">
                                <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion(item)">
                                    <span class="product-color">
                                        <p>Cores:</p>
                                        <ul class="list">
                                            <li ng-repeat="color in item.cores_mooi track by $index">
                                                <i class="fa fa-square" ng-class="color"></i>
                                            </li>
                                        </ul>
                                    </span>
                                    <span class="product-size">
                                        <p>Tamanhos:</p>
                                        <ul class="list">
                                            <li ng-repeat="tamanho in item.tamanhos_mooi track by $index">{{tamanho}}
                                            </li>
                                        </ul>
                                    </span>
                                </a>
                                <span class="actions-holder">
                                    <a ui-sref="root.item({id:item.id_externo, loja:item.loja})" target="_blank" ng-click="vm.setItemViewed(item); vm.interest(item)">
                                        <span class="btn-more">Ver Mais</span>
                                    </a>
                                    <span class="sentiment-actions">
                                        <a href="" ng-click="vm.likeItem(item)">
                                            <span class="btn-like">
                                                <img ng-src="/img/icon-like{{item.liked && '-checked' || ''}}.png" alt="Gostei do Produto">
                                            </span>
                                        </a>
                                        <a href="" ng-click="vm.dislikeItem(item)">
                                            <span class="btn-dislike">
                                                <img ng-src="/img/icon-dislike{{item.disliked && '-checked' || ''}}.png" alt="Não Gostei do Produto">
                                            </span>
                                        </a>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="product-list-extra" data-images-loaded ng-if="vm.related.length && vm.related.length > 0">
                <h2 class="base-title">Itens Relacionados</h2>
                <ul class="results">
                    <li class="product-thumb" ng-repeat="item in vm.related">
                        <span class="product-img">
                                <img title="Produto" alt="Produto" class="main-product-image"
                                    ng-src="{{vm.getImageURL(item, 0)}}">
                                <span class="stamps-holder" ng-if="item.preco_desconto > 0">
                                    <span class="base-stamp"
                                          ng-class="{'stamp-desconto-grande': item.preco_desconto > 40, 'stamp-desconto-medio': item.preco_desconto > 20, 'stamp-desconto-pequeno': item.preco_desconto > 0}">
                                        <span class="desconto">{{item.preco_desconto | percentage}}</span>
                                    </span>
                                </span>
                            </span>
                        <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion(item)">
                            <span class="thumb-cover"></span></a>
                        <span class="product-info-holder">
                                <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion(item)">
                                    <span class="price-holder" itemprop="offers" itemscope=""
                                          itemtype="http://schema.org/Offer">
                                    <del class="old-price"
                                         ng-show="item.preco_antigo_vista && item.preco_antigo_vista > item.preco_vista">
                                        {{item.preco_antigo_vista | currency}}
                                    </del>
                                    <strong class="new-price" itemprop="price">{{item.preco_vista | currency}}</strong>
                                </span>
                                </a>
                                <span class="info-extra">
                                    <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion(item)">
                                        <span class="product-color">
                                        <p>Cores:</p>
                                        <ul class="list">
                                            <li ng-repeat="color in item.cores_mooi track by $index">
                                                <i class="fa fa-square" ng-class="color"></i>
                                            </li>
                                        </ul>
                                    </span>
                                        <span class="product-size">
                                        <p>Tamanhos:</p>
                                        <ul class="list">
                                            <li ng-repeat="tamanho in item.tamanhos_mooi track by $index">{{tamanho}}
                                            </li>
                                        </ul>
                                    </span>
                                    </a>
                                    <span class="actions-holder">
                                        <a ui-sref="root.item({id:item.id_externo, loja:item.loja})" target="_blank" ng-click="vm.setItemViewed(item); vm.interest(item)">
                                            <span class="btn-more">Ver Mais</span>
                                        </a>
                                        <span class="sentiment-actions">
                                            <a href="" ng-click="vm.likeItem(item)"><span class="btn-like"><img ng-src="/img/icon-like{{item.liked && '-checked' || ''}}.png"
                                                                                     alt="Gostei do Produto"></span></a>
                                            <a href="" ng-click="vm.dislikeItem(item)"><span class="btn-dislike"><img ng-src="/img/icon-dislike{{item.disliked && '-checked' || ''}}.png"
                                                                                           alt="Não Gostei do Produto"></span></a>
                                        </span>
                                    </span>
                                </span>
                            </span>
                    </li>
                </ul>
            </div>
            <div class="product-list-extra" data-images-loaded ng-if="vm.suggested.length && vm.suggested.length > 0">
                <h2 class="base-title">Itens sugeridos</h2>
                <ul class="results">
                    <li class="product-thumb" ng-repeat="item in vm.suggested">
                        <span class="product-img">
                                <img title="Produto" alt="Produto" class="main-product-image"
                                    ng-src="{{vm.getImageURL(item, 0)}}">
                                <span class="stamps-holder" ng-if="item.preco_desconto > 0">
                                    <span class="base-stamp"
                                          ng-class="{'stamp-desconto-grande': item.preco_desconto > 40, 'stamp-desconto-medio': item.preco_desconto > 20, 'stamp-desconto-pequeno': item.preco_desconto > 0}">
                                        <span class="desconto">{{item.preco_desconto | percentage}}</span>
                                    </span>
                                </span>
                            </span>
                        <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion(item)">
                            <span class="thumb-cover"></span></a>
                        <span class="product-info-holder">
                                <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion(item)">
                                    <span class="price-holder" itemprop="offers" itemscope=""
                                          itemtype="http://schema.org/Offer">
                                    <del class="old-price"
                                         ng-show="item.preco_antigo_vista && item.preco_antigo_vista > item.preco_vista">
                                        {{item.preco_antigo_vista | currency}}
                                    </del>
                                    <strong class="new-price" itemprop="price">{{item.preco_vista | currency}}</strong>
                                </span>
                                </a>
                                <span class="info-extra">
                                    <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item); vm.conversion(item)">
                                        <span class="product-color">
                                        <p>Cores:</p>
                                        <ul class="list">
                                            <li ng-repeat="color in item.cores_mooi track by $index">
                                                <i class="fa fa-square" ng-class="color"></i>
                                            </li>
                                        </ul>
                                    </span>
                                        <span class="product-size">
                                        <p>Tamanhos:</p>
                                        <ul class="list">
                                            <li ng-repeat="tamanho in item.tamanhos_mooi track by $index">{{tamanho}}
                                            </li>
                                        </ul>
                                    </span>
                                    </a>
                                    <span class="actions-holder">
                                        <a ui-sref="root.item({id:item.id_externo, loja:item.loja})" target="_blank" ng-click="vm.setItemViewed(item); vm.interest(item)">
                                            <span class="btn-more">Ver Mais</span>
                                        </a>
                                        <span class="sentiment-actions">
                                            <a href="" ng-click="vm.likeItem(item)">
                                                <span class="btn-like"><img ng-src="/img/icon-like{{item.liked && '-checked' || ''}}.png" alt="Gostei do Produto"></span>
                                            </a>
                                            <a href="" ng-click="vm.dislikeItem(item)">
                                                <span class="btn-dislike"><img ng-src="/img/icon-dislike{{item.disliked && '-checked' || ''}}.png" alt="Não Gostei do Produto"></span>
                                            </a>
                                        </span>
                                    </span>
                                </span>
                            </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>