<footer class="main-footer">
    <div class="wrap-footer-newsletter">
        <form name="subscribeForm" ng-submit="vm.submit(subscribeForm)">
            <div class="hold-footer-newsletter" role="complementary">
                <label class="footer-title" for="field_email-newsletter">Se Inscreva</label>
                <input name="email" type="email" class="input-newsletter" id="field_email-newsletter" placeholder="Seu e-mail aqui"
                       ng-model="vm.email" mooi-valid-email required ng-model-options="{updateOn: 'blur'}">
                <button class="btn-default btn-send-newsletter" ng-if="vm.sent" type="button">
                    Enviado!
                </button>
                <button class="btn-default btn-send-newsletter" type="submit" ng-if="!vm.sent">
                    Enviar
                </button>
                <div ng-show="subscribeForm.email.$error.email">Email inválido.</div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="hold-footer-navigation">
            <ul class="footer-content footer-social">
                <li class="social-icon"><a href="https://www.facebook.com/MooiBrasil/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <!--<li class="social-icon"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="social-icon"><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                <li class="social-icon"><a href="https://www.youtube.com/channel/UC9k_2XUbL-OLy988LC9kn2g"><i class="fa fa-youtube"></i></a></li>
            </ul>

            <div class="footer-content" role="navigation">
                <h2 class="footer-title">Comercial</h2>
                <ul class="footer-navigation-list">
                    <li><a href="mailto:jonathanbrasilmooi@gmail.com?subject=[Trabalhar na Mooi]">Trabalhe Aqui</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>