<header class="main-header" ng-class="{'main-header-home': header.state.current.name==='root.home'}">
    <div class="header-main-menu">
        <div class="main-header_wrapper">
            <div class="nav-pull"><i class="fa fa-bars"></i></div>
            <ul class="header-main-menu_holder-account">

                <!-- menu sem estar logado -->

                <li class="btn-cadastrar" ng-if="!vm.user" ng-click="vm.cadastro()">
                    <a class="link-menu-above" ui-sref="root.cadastro">Cadastre-se</a>
                </li>
                <li class="btn-login" ng-if="!vm.user">
                    <a class="link-menu-above">Login</a>
                </li>
                <!-- menu logado -->
                <li class="btn-my-account" ng-if="vm.user">
                    <a class="link-menu-above" ui-sref="root.usuario">Olá {{vm.userName}}</a>
                    <div class="hold-my-account-submenu">
                        <ul class="my-account-submenu">
                            <li><a ui-sref="root.usuario">Perfil</a></li>
                            <!--<li><a href="#">Favoritos</a></li> -->
                            <li><a href="">Pontos: <span class="pontuacao">0</span></a></li>
                        </ul>
                    </div>
                </li>
                <li class="btn-logoff" ng-if="vm.user">
                    <a class="link-menu-above" ng-click="vm.logout()">Sair</a>
                </li>

            </ul>
        </div>
    </div>

    <nav class="navigation" role="navigation">
        <div class="main-header_wrapper">
            <div class="logo"><a ui-sref="root.home"><img src="/img/logo.png" alt="" /></a></div>
            <div class="hold-nav">
                <ul class="main-nav" role="menubar">

                    <li class="main-nav-item" role="menuitem" ng-repeat="menu in vm.menus" mooi-on-finish-render="headerMenusRendered">
                        {{menu.name}}
                        <ul class="main-nav-submenu" role="submenuitem">
                            <li class="hold-main-nav-submenu">
                                <ul class="main-nav-submenu-list" ng-repeat="submenu in menu.submenus">
                                    <h3 class="submenu-title">{{submenu.name}}</h3>
                                    <li class="main-nav-submenu-item" role="menuitem" ng-repeat="submenuItem in submenu.items | limitTo:10">
                                        <a ui-sref="root.produtos({categoria:'{{submenu.category}}', sexo:'{{menu.gender}}', tipos:'{{submenuItem}}', infantil:'{{menu.infantile}}'})">
                                            {{submenuItem}}
                                        </a>
                                    </li>
                                    <li class="main-nav-submenu-item" role="menuitem">
                                        <a ui-sref="root.produtos({categoria:'{{submenu.category}}', sexo:'{{menu.gender}}'})">
                                            mais...
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="wrap-search" ng-show="vm.searchEnabled">
                    <div class="hold-input-search">
                        <form role="search">
                            <label for="search" class="input-search-label"><span class="access">Pesquisa no site</span>
                                <input id="search" name="Ntt" type="text" class="input-search" value="" autocomplete="off" title="Bem vindo a Mooi! Digite agora o que você deseja procurar em nosso site" placeholder="Procurar">
                                <span class="btn-close-input-search"><i class="fa fa-times"></i></span>
                            </label>
                            <button type="submit" class="btn-input-search"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </nav>
</header>