<!--[if !IE]> -->
<!DOCTYPE html>
<html ng-app="mooiweb" ng-strict-di>
<!-- <![endif]-->
<!--[if gt IE 9]>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="pt-br" ng-app="mooiweb" ng-strict-di> <!--<![endif]-->
    <head>
        <title data-ng-bind="$root.title">Mooi.me</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <meta name="description" content="{{$root.description}}">
        <meta name="author" content="{{$root.author}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" value="notranslate">
        <!-- SOCIAL METAS -->
        <meta property="og:type" content="website"/>
        <!--facebook url-->
        <meta property="og:url" content="{{$root.og.url}}">
        <!--facebook title-->
        <meta property="og:title" content="{{$root.og.title}}">
        <!--facebook site name-->
        <meta property="og:site_name" content="{{$root.og.siteName}}">
        <!--facebook description-->
        <meta property="og:description" content="{{$root.og.description}}">
        <!--facebook image-->
        <meta property="og:image" content="{{$root.og.image}}">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="{{$root.og.width}}">
        <meta property="og:image:height" content="{{$root.og.height}}">
        <meta property="og:price:amount" content="{{$root.og.price}}" ng-if="$root.og.price"/>
        <meta property="og:price:currency" content="BRL" ng-if="$root.og.price"/>

        <!--GooglePlus image-->
        <meta itemprop="name" content="{{$root.schema.name}}">
        <meta itemprop="description" content="{{$root.schema.description}}">
        <meta itemprop="image" content="{{$root.schema.image}}">
        <!-- | Favicon | -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="Mooi.me">
        <meta name="application-name" content="Mooi.me">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <meta name="prerender-status-code" content="{{$root.statusCode}}">
        <meta property="fb:app_id" content="1470679093192561" />

        <!------------------- CSS ------------------->
        <!-- | JQUERY UI | -->
        <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
        <!-- | Style |-->
        <link href="/css/mooi.min.css" rel="stylesheet">
        <!-- | Menu esquerdo fora da tela | -->
        <link href="/components/ui/pushy/pushy.css" rel="stylesheet">
        <!-- | Notificações visuais | -->
        <link href="/components/angular-toastr/angular-toastr.min.css" rel="stylesheet">
        <!-- | Compartilhamentos |
        <link href="/components/angular-socialshare/angular-socialshare.min.css" rel="stylesheet">-->
        <!-- | Fontes | -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300italic,300,100italic,100' rel='stylesheet' type='text/css'>

        <!------------------- JS ------------------->
        <!---------------- Prerender --------------->
        <script> window.prerenderReady = false; </script>
        <!-- | Verificação de compatibilidades do browser | -->
        <script src="/components/ui/modernizr.custom.js"></script>
        <!-- Responsive for IE8+ -->
        <script src="/components/ui/css3-mediaqueries.js"></script>  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 10]>
        <script src="/components/ui/html5.js"></script>
        <![endif]-->
        <!-- Polyfills -->
        <script src="/js/polyfills.js"></script>
        <!-- Correções pontuais -->
        <script src="/js/facebook-fix.js"></script>
        <!-- | JQUERY | -->
        <script src="/components/ui/jquery-2.1.4.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
        <!-- | Angular | -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
        <script src="/components/angular-ui-router/angular-ui-router.mod.js"></script>

        <base href="/">
    </head>
    <body ng-class="{'loading': loading}">
        <!-- HEADER -->
        <div ui-view="offCanvas"></div>
        <!-- -->
        <div class="main-container" id="container">
            <!-- MENU -->
            <div ui-view="header"></div>
            <!-- -->
            <!-- VIEW -->
            <div ui-view="container"></div>
            <!-- -->
            <!-- Footer -->
            <div ui-view="footer"></div>
            <!-- -->
        </div>
        <div class="modal-loading"></div>
        <!--| JS |-->
        <script src="/components/angular-socialshare/angular-socialshare.min.js"></script>
        <script src="/components/angular-toastr/angular-toastr.tpls.min.js"></script>
        <script src="/components/ngFacebook/ngFacebook.js"></script>
        <script src="/components/ui-slider/slider.js"></script>
        <script src="/components/angular-images-loaded/imagesLoaded.min.js"></script>
        <script src="/components/angular-utils-pagination/dirPagination.js"></script>
        <script src="/js/mooi.min.js"></script>
    </body>
</html>
