<div class="hold-modal-login" id="login">
    <div class="modal-login">
        <div class="btn-close-modal-login">
            <div>
                <img src="/img/icon-close-white.png" alt="Fechar"/>
            </div>
        </div>
        <div class="modal-title">LOGIN</div>
        <a href="/auth/facebook" target="_self">
            <div class="btn-login-facebook">Entre usando Facebook</div>
        </a>
        <span class="small">ou</span>
        <form name="loginForm" ng-submit="vm.submitLogin()">
            <input class="field-login" name="email" type="email" placeholder="E-mail"
                   ng-model="vm.form.email" required ng-model-options="{updateOn: 'blur'}" mooi-valid-email/>
            <div ng-show="loginForm.email.$error.email">Email inválido.</div>
            <input class="field-login" name="password" type="password" placeholder="Senha"
                   ng-model="vm.form.password" required ng-model-options="{updateOn: 'blur'}" mooi-valid-password/>
            <div ng-show="loginForm.password.$error.password">Senha inválida. Tamanho mínimo: 5 caracteres. Símbolos permitidos: ,!_.-@#%*</div>
            <button class="btn-login btn-highlight">Login</button>
            <!--<span class="small">esqueci a senha</span> -->
        </form>
        <hr>
        <span class="small">não tem uma conta?</span>
        <a class="close-modal-login-link" ui-sref="root.cadastro">
        <button class="btn-default">
            Criar Conta
        </button>
        </a>
    </div>
</div>
<nav class="nav-logged pushy pushy-left">
    <div class="btn-close-nav"><img src="/img/icon-close.png" alt="" /></div>
    <h4 class="menu-title">MENU</h4>
    <ul>
        <li><a ui-sref="root.produtos({categoria:'acessorios', sexo:'{{vm.userGender.char || 'f'}}'})" ui-sref-opts="{inherit: false}">Acessórios</a></li>
        <li><a ui-sref="root.produtos({categoria:'vestuario', sexo:'{{vm.userGender.char || 'f'}}'})" ui-sref-opts="{inherit: false}">Roupas</a></li>
        <li><a ui-sref="root.produtos({categoria:'calcados', sexo:'{{vm.userGender.char || 'f'}}'})" ui-sref-opts="{inherit: false}">Calçados</a></li>
        <li ng-if="!!vm.user"><a ui-sref="root.usuario()" ui-sref-opts="{inherit: false}">Perfil</a></li>
        <!-- <li><a href="#">Pontos Mooi</a></li> -->
        <li ng-if="!!vm.user"><a href="" ng-click="vm.logout()">Logout</a></li>
    </ul>
</nav>