<main class="main page">
    <div class="wrapper-content">
        <div class="page-header">
            <h1 class="page-title">Perfil</h1>
            <!-- TODO: Subtitle -->
            <h2 class="page-subtitle"></h2>
        </div>
    </div>
    <div class="wrap-form">
        <form>
            <div class="form-row">
                <label class="footer-title" for="field_name">
                    Nome
                </label>
                <span id="field_name" class="form-input">{{vm.name}}</span>
            </div>
            <div class="form-row">
                <label class="footer-title" for="field_email">
                    Email
                </label>
                <span id="field_email" class="form-input">{{vm.email}}</span>
            </div>
            <!-- TODO: Editar perfil -->
        </form>
    </div>
    <div class="wrapper-content">
        <div class="row" data-images-loaded>
            <div class="product-list-extra" data-images-loaded ng-if="vm.viewed.length && vm.viewed.length > 0">
                <h2 class="base-title">Últimos Visualizados</h2>
                <ul class="results">
                    <li class="product-thumb" ng-repeat="item in vm.viewed">
                        <span class="product-img">
                            <img title="Produto" alt="Produto" class="main-product-image"
                                 ng-src="http://s3-sa-east-1.amazonaws.com/mooi-items/images/produtos/{{item.loja}}/{{item.images[0]}}">
                            <span class="stamps-holder" ng-if="item.preco_desconto > 0">
                                <span class="base-stamp"
                                      ng-class="{'stamp-desconto-grande': item.preco_desconto > 40, 'stamp-desconto-medio': item.preco_desconto > 20, 'stamp-desconto-pequeno': item.preco_desconto > 0}">
                                    <span class="desconto">{{item.preco_desconto | percentage}}</span>
                                </span>
                            </span>
                        </span>
                        <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item)">
                            <span class="thumb-cover"></span>
                        </a>
                        <span class="product-info-holder">
                            <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item)">
                                <span class="price-holder" itemprop="offers" itemscope=""
                                      itemtype="http://schema.org/Offer">
                                    <del class="old-price"
                                         ng-show="item.preco_antigo_vista && item.preco_antigo_vista > item.preco_vista">
                                        {{item.preco_antigo_vista | currency}}
                                    </del>
                                    <strong class="new-price" itemprop="price">{{item.preco_vista | currency}}</strong>
                                </span>
                            </a>
                            <span class="info-extra">
                                <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item)">
                                    <span class="product-color">
                                        <p>Cores:</p>
                                        <ul class="list">
                                            <li ng-repeat="color in item.cores_mooi track by $index">
                                                <i class="fa fa-square" ng-class="color"></i>
                                            </li>
                                        </ul>
                                    </span>
                                    <span class="product-size">
                                        <p>Tamanhos:</p>
                                        <ul class="list">
                                            <li ng-repeat="tamanho in item.tamanhos_mooi track by $index">{{tamanho}}
                                            </li>
                                        </ul>
                                    </span>
                                </a>
                                <span class="actions-holder">
                                    <a ui-sref="root.item({id:item.id_externo, loja:item.loja})" target="_blank" ng-click="vm.setItemViewed(item)">
                                        <span class="btn-more">Ver Mais</span>
                                    </a>
                                    <span class="sentiment-actions">
                                        <a href="" ng-click="vm.likeItem(item)">
                                            <span class="btn-like">
                                                <img ng-src="/img/icon-like{{item.liked && '-checked' || ''}}.png" alt="Gostei do Produto">
                                            </span>
                                        </a>
                                        <a href="" ng-click="vm.dislikeItem(item)">
                                            <span class="btn-dislike">
                                                <img ng-src="/img/icon-dislike{{item.disliked && '-checked' || ''}}.png" alt="Não Gostei do Produto">
                                            </span>
                                        </a>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="product-list-extra" data-images-loaded ng-if="vm.liked.length && vm.liked.length > 0">
                <h2 class="base-title">Itens que gostei</h2>
                <ul class="results">
                    <li class="product-thumb" ng-repeat="item in vm.liked">
                        <span class="product-img">
                            <img title="Produto" alt="Produto" class="main-product-image"
                                 ng-src="http://s3-sa-east-1.amazonaws.com/mooi-items/images/produtos/{{item.loja}}/{{item.images[0]}}">
                            <span class="stamps-holder" ng-if="item.preco_desconto > 0">
                                <span class="base-stamp"
                                      ng-class="{'stamp-desconto-grande': item.preco_desconto > 40, 'stamp-desconto-medio': item.preco_desconto > 20, 'stamp-desconto-pequeno': item.preco_desconto > 0}">
                                    <span class="desconto">{{item.preco_desconto | percentage}}</span>
                                </span>
                            </span>
                        </span>
                        <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item)">
                            <span class="thumb-cover"></span>
                        </a>
                        <span class="product-info-holder">
                            <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item)">
                                <span class="price-holder" itemprop="offers" itemscope=""
                                      itemtype="http://schema.org/Offer">
                                    <del class="old-price"
                                         ng-show="item.preco_antigo_vista && item.preco_antigo_vista > item.preco_vista">
                                        {{item.preco_antigo_vista | currency}}
                                    </del>
                                    <strong class="new-price" itemprop="price">{{item.preco_vista | currency}}</strong>
                                </span>
                            </a>
                            <span class="info-extra">
                                <a ng-href="{{item.link_afiliados}}" target="_blank" ng-click="vm.setItemViewed(item)">
                                    <span class="product-color">
                                        <p>Cores:</p>
                                        <ul class="list">
                                            <li ng-repeat="color in item.cores_mooi track by $index">
                                                <i class="fa fa-square" ng-class="color"></i>
                                            </li>
                                        </ul>
                                    </span>
                                    <span class="product-size">
                                        <p>Tamanhos:</p>
                                        <ul class="list">
                                            <li ng-repeat="tamanho in item.tamanhos_mooi track by $index">{{tamanho}}
                                            </li>
                                        </ul>
                                    </span>
                                </a>
                                <span class="actions-holder">
                                    <a ui-sref="root.item({id:item.id_externo, loja:item.loja})" target="_blank" ng-click="vm.setItemViewed(item)">
                                        <span class="btn-more">Ver Mais</span>
                                    </a>
                                    <span class="sentiment-actions">
                                        <a href="" ng-click="vm.likeItem(item)">
                                            <span class="btn-like">
                                                <img ng-src="/img/icon-like{{item.liked && '-checked' || ''}}.png" alt="Gostei do Produto">
                                            </span>
                                        </a>
                                        <a href="" ng-click="vm.dislikeItem(item)">
                                            <span class="btn-dislike">
                                                <img ng-src="/img/icon-dislike{{item.disliked && '-checked' || ''}}.png" alt="Não Gostei do Produto">
                                            </span>
                                        </a>
                                    </span>
                                </span>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>