/*! Pushy - v0.9.1 - 2013-9-16
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

/* Lists */

ul{
    margin: 0;
    padding: 0;
}

/* Container */

#container{
    position: relative;
    min-height: 100vh;
}

/* Menu Button */

.menu-btn{
    width:auto;
    padding: 10px;
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    font-size: 24px;
    -webkit-backface-visibility: hidden; 
    -webkit-transform: translateZ(0);
}

.menu-btn:hover{
    background: #000;
    color: #FFF;
}

/* Menu Appearance */

.pushy{
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background: #fff;
    font-size: 0.9em;
    font-weight: bold;
    -webkit-box-shadow: inset 10px 0 6px -9px rgba(0, 0, 0, .7);
    -moz-box-shadow: inset 10px 0 6px -9px rgba(0, 0, 0, .7);
    box-shadow: inset 10px 0 6px -9px rgba(0, 0, 0, .7);
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
}

.pushy a{
    display: block;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;;
}

.pushy a:hover{
    background: #000;
    color: #FFF;
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d(-350px,0,0);
    -moz-transform: translate3d(-350px,0,0);
    -ms-transform: translate3d(-350px,0,0);
    -o-transform: translate3d(-350px,0,0);
    transform: translate3d(-350px,0,0);
}

.pushy-open{
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.container-push, .push-push{
    -webkit-transform: translate3d(200px,0,0);
    -moz-transform: translate3d(200px,0,0);
    -ms-transform: translate3d(200px,0,0);
    -o-transform: translate3d(200px,0,0);
    transform: translate3d(200px,0,0);
}

/* Menu Transitions */

.pushy, #container, .push{
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
    /* improves performance issues on mobile*/
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-active .site-overlay{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    right: 200px;
    z-index: 9999;
}

/* Example Media Query */

@media screen and (max-width: 768px){
    .pushy{
        font-size: 1.0em;
    }
}