<main class="main page">
    <div class="wrapper-content">
        <div class="page-header">
            <h1 class="page-title">Cadastro</h1>
            <!-- TODO: Subtitle -->
            <h2 class="page-subtitle"></h2>
        </div>
    </div>
    <div class="wrap-form">
        <form name="signupForm" ng-submit="vm.submit(signupForm)">
            <div class="form-row">
                <label class="footer-title" for="field_email">
                    Email
                </label>
                <input name="email" type="email" class="form-input" id="field_email" placeholder="Seu e-mail aqui"
                       ng-model="vm.form.email" required ng-model-options="{updateOn: 'blur'}" mooi-valid-email>
                <div ng-show="signupForm.email.$error.email">Email inválido.</div>
            </div>
            <div class="form-row">
                <label class="footer-title" for="field_password">
                    Senha
                </label>
                <input name="password" type="password" class="form-input" id="field_password" placeholder="Sua senha aqui"
                       ng-model="vm.form.password" required ng-model-options="{updateOn: 'blur'}" mooi-valid-password>
                <div ng-show="signupForm.password.$error.password">Senha inválida. Tamanho mínimo: 5 caracteres. Símbolos permitidos: ,!_.-@#%*</div>
            </div>
            <div class="form-row">
                <label class="footer-title" for="field_name">
                    Nome
                </label>
                <input name="name" type="text" class="form-input" id="field_name" placeholder="Seu nome aqui"
                       ng-model="vm.form.name" required ng-model-options="{updateOn: 'blur'}" mooi-valid-name>
                <div ng-show="signupForm.name.$error.name">Nome inválido. Tamanho mínimo: 3. Somente letras e espaços.</div>
            </div>
            <div class="form-row">
                <label class="footer-title" for="field_gender">
                    Expressão de Gênero
                </label>
                <select name="select_gender" id="field_gender" class="form-select" ng-model="vm.form.gender" required>
                    <option id="op_feminina" value="Feminino">Feminina</option>
                    <option id="op_masculina" value="Masculino">Masculina</option>
                    <option id="op_androgina" value="Andrógino">Andrógina</option>
                    <option id="op_naoinformado" value="-">Prefiro não responder</option>
                </select>
            </div>
            <div class="form-row">
                <label class="footer-title" for="field_idade">
                    Idade
                </label>
                <input name="age" type="number" class="form-input" id="field_idade" placeholder="Sua idade aqui" min="8" max="120"
                       ng-model="vm.form.age" required ng-model-options="{updateOn: 'blur'}">
                <div ng-show="signupForm.age.$error.min || signupForm.age.$error.max || signupForm.age.$error.number">Idade inválida.</div>
            </div>
            <div class="form-row form-send">
                <button class="btn-default btn-send-newsletter" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</main>