<main class="main page">
    <div class="wrapper-content">
        <div class="page-header">
            <h1 class="page-title">Oops! Página não encontrada!</h1>
            <!-- TODO: Subtitle -->
            <h2 class="page-subtitle">Voltar para a <a ui-sref="root.home">Home</a>.</h2>
        </div>
    </div>
</main>
