.fundo-branco {
    background: @branco;
}

.fundo-amarelo {
    background: @amarelo;
}

.fundo-azul {
    background: @azul;
}

.fundo-cinza {
    background: @cinza;
}

.fundo-bege {
    background: @bege;
}

.fundo-laranja {
    background: @laranja;
}

.fundo-verde {
    background: @verde;
}

.fundo-marrom {
    background: @marrom;
}

.fundo-rosa {
    background: @rosa;
}

.fundo-vermelho {
    background: @vermelho;
}

.fundo-roxo {
    background: @roxo;
}

.fundo-preto {
    background: @preto;
}
