body, html, *{
	border: 0;
}

body{ 
	background: #FFF;
	margin: 0;
	padding: 0;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

body, 
html {
	height: 100%; 
	font-family: @text;
	box-sizing: border-box;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0; 
	padding: 0;
	margin: 20px 0;
}


audio,
canvas, 
img, 
video {
	vertical-align: middle;
}

img{width: 100%;}
ul{ padding: 0;}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


li{
	list-style: none;
}

.access {
	display: block;
	height: 0;
	font-size: 10px;
}

.main-container{
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}

.wrapper-content{
	width: 90%;
	margin: 0 auto;
}

.page{
	margin: 95px 0;
}


@media only screen and (min-width: 1300px) {
	.wrapper-content{
		.column(14);
		float: none;
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1500px) {
	.wrapper-content{
		.column(12);
		float: none;
		display: block;
		margin: 0 auto;

	}

}

