/* ==========================================================================
   Tipografia
   ========================================================================== */
html,
button,
input,
select,
textarea {
    font-family: @text;
    font-size: 14px;
    font-weight: 300;
}

h1, 
h2, 
h3, 
h4, 
p, 
li, 
a{
    text-align: left;
}

h1, 
h2, 
h3{
    color: @black;
    text-transform: uppercase;
}

h4, 
p, 
li, 
a{
    font-weight: 400;
    color: @text-color;
}

p, 
a, 
li{ 
    font-size: 12px; 
    color: #000; 
    line-height: 24px; 
    font-family: @text;
}

p, li{
    margin: 15px 0; 
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.small{
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
}