/*CLASSES CSS*/

.left{float:left;}
.right{float:right;}
.width100{width:100%;}
.height100{height: 100%;}
.block{display: block;}
.v-align-wrapper{display:table;}
.v-align{display: table-cell; vertical-align: middle;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.margin-top{ margin-top: 30px;}
.inline-list li{display:inline-block;}
.mouse-over{.transition(opacity 0.3s ease);&:not(.faded):hover{opacity: .75;}&:not(.faded):active{opacity: .5;}.translate3d(0px,0px,0px);}
.push-header{ height: 86px; }
.faded{opacity:.25;}
.pre-tag{white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word;}
.no-selection{-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.hidden-from-view{opacity:0; pointer-events:none; position: absolute; top: -9999px; left: -9999px;}
.grid100{ width:100%; }
.grid90 { width:90%;  }
.grid80 { width:80%;  }
.grid75 { width:75%;  }
.grid70 { width:70%;  }
.grid60 { width:60%;  }
.grid50 { width:50%;  }
.grid40 { width:40%;  }
.grid33 { width:33.33%; }
.grid32 { width:32%; }
.grid30 { width:30%;  }
.grid25 { width:25%;  }
.grid20 { width:20%;  }
.grid10 { width:10%;  }
.input-placeholder{
	&:before{
		content:"";
		opacity:0;
		.transition(opacity .4s ease);
	}
	&:empty{
		&:before{
			content: attr(data-placeholder);
			opacity:1;
		}
	}
}

.last{ padding-right: 0 !important; padding-left: 0 !important; margin-right: 0!important; margin-left: 0 !important;}
.bold{ font-weight: bold; width: 100% !important;}
.none{ display: none;}
.center{ text-align: center;}
.link{ color: #fecf44;}
.btn{ background: #fecf44; color: #143264; font-size: 21px; padding: 10px 20px; font-weight:bold; float: left;}
.border-left{
    padding-left: 50px;
    margin-left: 30px;
    border-left: 1px solid #ccc;
}

.row{
    width: 100%;
    float: left;
    margin: 3% 0;
    position: relative;
}

/* Initializr */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {visibility: hidden;}

.clear{clear:both;}
.clear-after:after{content: ""; display:block; clear:both;}
.clear-before:before{content: ""; display:block; clear:both;}
.clearfix {*zoom: 1;}

